.tm-demo-options-wrapper {
	position: fixed;
	top: 0;
	right: -350px;
	background: #ffffff;
	height: 100%;
	width: 350px;
	z-index: 100000;
	font-size: 16px;
	transition: all .5s;
	
	&.open {
		right: 0;
		box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.14);
	}
	
	.tm-demo-options-toolbar {
		position: absolute;
		top: 200px;
		right: 100%;
		display: block;
		width: 40px;
		line-height: 60px;
		border: 1px solid #eeeeee;
		border-right: 0;
		border-radius: 5px 0 0 5px;
		background: #ffffff;
		text-align: center;
		font-size: 22px;
		box-shadow: -3px 0px 10px -2px rgba(0, 0, 0, .1);
		
		a {
			display: block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			color: #111111;
		}
		
		i {
			font-size: 20px;
		}
	}
	
	.tm-btn-purchase {
		margin-bottom: 30px;
	}
	
	.tm-demo-panel-header {
		padding: 40px 30px 30px;
		text-align: center;
	}
	
	.tm-demo-panel {
		height: 100%;
		overflow-x: auto;
		padding-bottom: 55px;
	}
	
	.quick-option-list {
		padding: 27px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		
		img {
			width: 100%;
			transition: all .3s;
			box-shadow: 0 7px 20px rgba(0, 0, 0, .1);
			border-radius: 5px;
			
			&:hover {
				transform: translateY(-3px);
				box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
			}
		}
		
		h6 {
			margin-top: 5px;
		}
	}
}
