.woocommerce {
	a.remove {
		color: #999999 !important;
		&:hover {
			background: none;
			color: #222222 !important;
		}
	}
	
	table.shop_table {
		border: 0;
		border-collapse: collapse;
		td, th {
			border: 0;
			background: none;
			text-align: left;
		}
		thead {
			border-radius: 4px;
			tr {
				border-bottom: 1px solid #ededed;
			}
			th {
				padding: 20px 0;
				text-transform: uppercase;
				letter-spacing: 1.75px;
				font-weight: 700;
				font-size: 14px;
				line-height: 1.2;
				&.product-remove {
					width: 40px;
				}
				&.product-thumbnail {
					width: 110px;
				}
			}
		}
		tbody,
		tfoot {
			th, td {
				padding: 15px 0;
				border: 0;
			}
			tr {
				border-bottom: 1px solid #ededed;
			}
		}
	}
	
	.cart.shop_table {
		margin-bottom: 95px;
		border: 0;
		border-collapse: collapse;
		td, th {
			border: 0;
			text-align: left;
		}
		thead {
			border-radius: 4px;
		}
		th {
			padding: 20px 0;
			text-transform: uppercase;
			letter-spacing: 1.75px;
			font-weight: 700;
			font-size: 14px;
			line-height: 1.2;
			&.product-remove {
				width: 40px;
			}
			&.product-thumbnail {
				width: 110px;
			}
		}
		td {
			padding: 30px 0;
			&.product-name {
				a {
					font-size: 20px;
				}
			}
			&.product-price,
			&.product-subtotal {
				font-size: 20px;
			}
		}
		tbody {
			tr {
				+ tr {
					border-top: 1px solid #ededed;
				}
			}
		}
		
	}
	
	table.woocommerce-checkout-review-order-table {
		margin: 0 0 70px;
		tfoot {
			th {
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: 1.75px;
				font-weight: 700;
			}
		}
		
		td {
			.shipping-method-label {
				color: #ff0000;
				font-weight: 700;
			}
		}
	}
	
	#coupon_code {
		margin: 0 10px 0 0;
		width: 320px;
	}
	
	.cart-collaterals {
		.cart_totals {
			width: 100%;
			float: none;
			.shop_table {
				margin-bottom: 30px;
				border: 0;
				border-collapse: collapse;
				th {
					vertical-align: middle;
					text-transform: uppercase;
					letter-spacing: 1.75px;
					font-weight: 700;
					font-size: 14px;
					line-height: .9;
				}
				th, td {
					padding: 15px 0;
					border: 0;
					background: none;
					text-align: left;
				}
				tr {
					border-top: 1px solid #ededed;
					border-bottom: 1px solid #ededed;
				}
				.shipping {
					p {
						margin: 0;
					}
				}
			}
			.cart-totals-inner {
				.woocommerce-shipping-calculator {
					display: none;
				}
			}
		}
	}
	
	.cart-shipping {
		p {
			margin-bottom: 30px;
		}
		.shipping-method-label {
			display: none;
			+ p {
				display: none;
			}
		}
		.shipping-calculator-form {
			display: block !important;
		}
	}
}

body.woocommerce-cart {
	table.cart {
		td.actions {
			.coupon {
				.input-text {
					border-color: #efefef;
					padding: 3px 20px;
				}
			}
		}
	}
	
	.cross-sells {
		margin-bottom: 60px;
	}
	
	.wc-proceed-to-checkout {
		padding: 0;
		text-align: right;
		a {
			display: inline-block;
			text-align: center;
			margin-bottom: 30px;
		}
		.wc-return-shop {
			min-width: 238px;
		}
		a.checkout-button {
			display: inline-block;
			margin-bottom: 30px;
			margin-left: 6px;
			min-width: 170px;
		}
		
	}
}

.woocommerce-checkout #order_review_heading,
.woocommerce-checkout .woocommerce-billing-fields > h3,
.woocommerce-additional-fields > h3,
.woocommerce-checkout #ship-to-different-address,
.woocommerce .cart-collaterals .cart-totals-inner > h2,
.woocommerce .cart-shipping .woocommerce-shipping-calculator h2 {
	margin-bottom: 40px;
	font-size: 24px;
}

#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout {
	table.cart {
		img {
			width: 80px;
		}
	}
}

.woocommerce-form-login {
	.button {
		min-width: 140px;
	}
}

@include media-breakpoint-down(sm) {
	
	.woocommerce,
	.woocommerce-page {
		
		table.shop_table_responsive {
			tr:nth-child(2n) td,
			tr:nth-child(2n) td {
				background: none;
			}
		}
		
		.cart-collaterals {
			.cart_totals {
				.shop_table {
					tr {
						border-top: 0;
						&:first-child {
							border-top: 1px solid #ededed;
						}
					}
				}
			}
		}
	}
	
	.woocommerce {
		table.shop_table {
			tbody {
				tr {
					border-bottom: 0;
					+ tr {
						padding: 15px 0;
					}
				}
			}
			tfoot {
				tr {
					border-bottom: 0;
				}
			}
		}
		
		#coupon_code {
			margin-bottom: 10px;
			width: 100%;
		}
		
		.cart {
			&.shop_table {
				td {
					padding: 10px 0;
					&.product-subtotal {
						clear: both;
					}
				}
				
				.product-quantity {
					&:after {
						display: table;
						clear: both;
						content: '';
					}
				}
				
				.quantity {
					float: right;
				}
			}
		}
	}
	
	.woocommerce-page {
		table.cart {
			td.actions {
				.coupon {
					padding-bottom: 10px;
					.input-text {
						+ .button {
							float: none;
							width: 100%;
						}
					}
				}
			}
		}
	}
	
	.cart-shipping {
		margin-bottom: 60px;
	}
	
	.woocommerce-checkout {
		.woocommerce-checkout {
			margin-top: 50px;
		}
		
		#customer_details {
			margin-bottom: 30px;
			.col-1 {
				margin-bottom: 30px;
			}
		}
		
		form {
			.form-row {
				&.form-row-first,
				&.form-row-last {
					padding: 0;
					width: 100%;
				}
			}
		}
	}
}
