button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend %transit;
	padding: 0 41px;
	height: 55px;
	line-height: 53px;
	outline: none;
	border-width: 1px;
	border-style: solid;
	border-radius: 33px;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 0.93px;
	text-transform: uppercase;
	cursor: pointer;
	
	&:focus {
		outline: none;
	}
}
