.comment-nav-links,
.page-pagination {
	padding: 0;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 600;
	li {
		display: inline-block;
		list-style-type: none;
		
		span,
		a {
			padding: 0 5px;
			display: block;
			text-align: center;
			line-height: 56px;
			min-width: 60px;
			height: 60px;
			border: 2px solid transparent;
			border-radius: 5px;
		}
		
		.current {
			background: #fcfcfc;
			border-color: #eeeeee;
		}
		
		.dots {
			background: none;
			min-width: 20px;
		}
		
		.next,
		.prev {
			font-size: 15px;
		}
		
		.prev {
			i {
				margin-right: 8px;
			}
		}
		
		.next {
			i {
				margin-left: 8px;
			}
		}
	}
}

.page-pagination {
	margin-top: 40px;
}

.comment-nav-links {
	ul {
		padding: 0;
	}
}

#comment-nav-above {
	ul {
		margin: 50px 0;
	}
}

#comment-nav-below {
	ul {
		margin: 0 0 74px;
	}
}

.page-links {
	@extend %clearfix;
	clear: both;
	padding-top: 30px;
	margin: 0 -6px;
	
	> span,
	> a {
		display: block;
		float: left;
		padding: 0 6px;
		text-align: center;
		font-weight: 700;
		font-size: 14px;
		line-height: 38px;
	}
	
	> span {
		padding: 0 12px;
	}
	
	a {
		span {
			padding: 0 6px;
		}
	}
	
	> a:hover,
	> a:focus,
	> span {
		color: #ffffff;
	}
}

.post-navigation {
	position: relative;
}

.nav-links {
	margin-top: 95px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 77px;
	border-bottom: 1px solid #eeeeee;
	
	.nav-item {
		width: 46%;
	}
	
	.nav-previous {
		text-align: left;
		
		span {
			margin-right: 8px;
		}
	}
	
	.nav-next {
		text-align: right;
		
		span {
			margin-left: 10px;
		}
	}
	
	a {
		display: block;
		font-size: 20px;
		line-height: 1.4;
		font-weight: 600;
		
		div {
			@extend %transit2;
			color: #bbbbbb;
			font-size: 15px;
			margin-bottom: 16px;
		}
	}
}
