.typed-cursor {
	opacity: 1;
	animation: blink .7s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.tm-heading {
	.heading {
		margin-bottom: 0;
		
		a {
			color: inherit;
		}
	}
	
	&.center {
		.heading {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	a {
		font-size: inherit;
		color: inherit;
		position: relative;
		&:before {
			@extend %transit2;
			content: '';
			height: 1px;
			width: 0;
			background-color: currentColor;
			position: absolute;
			bottom: -2px;
			left: 0;
		}
		&:hover {
			color: inherit;
			
			&:before {
				width: 100%;
			}
		}
	}
	
	.icon {
		display: inline-block;
		vertical-align: bottom;
		margin-right: 9px;
	}
	
	&.common {
		.heading {
			font-size: 30px;
		}
	}
	
	&.highlight {
		mark {
			font-weight: 700;
		}
	}
	
	&.with-separator {
		margin-bottom: 16px;
		
		.heading {
			display: inline-block;
			font-size: 36px;
			
			&:after {
				content: '';
				display: block;
				margin-top: 15px;
				width: 100%;
				height: 1px;
				background: #e3e3e3;
			}
		}
	}
	
	&.with-separator-02 {
		margin-bottom: 24px;
		
		.heading {
			display: inline-block;
			font-size: 42px;
			
			&:after {
				content: '';
				display: block;
				margin-top: 22px;
				width: 100%;
				height: 1px;
				background: #eeeeee;
			}
		}
	}
	
	&.medium-separator {
		margin-bottom: 30px;
		
		.heading {
			font-size: 36px;
			font-weight: 400;
			line-height: 1.38;
		}
		
		.separator {
			&:before {
				content: '';
				display: block;
			}
			
			&:after {
				content: '';
				display: inline-block;
				height: 5px;
				width: 30px;
				border-radius: 5px;
				margin-top: 27px;
			}
		}
	}
	
	&.thick-separator {
		margin-bottom: 24px;
		
		.heading {
			font-size: 42px;
		}
		
		.separator {
			&:before {
				content: '';
				display: block;
			}
			
			&:after {
				content: '';
				display: inline-block;
				height: 8px;
				width: 50px;
				border-radius: 5px;
				margin-top: 27px;
			}
		}
	}
	
	&.modern {
		.heading {
			font-size: 15px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 3px;
			line-height: 1.26;
			color: #bbbbbb;
		}
	}
	
	&.top-separator {
		margin-bottom: 33px;
		
		.heading {
			font-size: 44px;
			font-weight: 700;
			line-height: 1.38;
		}
		
		.separator {
			&:before {
				content: '';
				display: block;
			}
			
			&:after {
				content: '';
				display: inline-block;
				height: 5px;
				width: 50px;
				margin-bottom: 17px;
				background: #d8d8d8;
			}
		}
	}
	
	&.modern-with-separator {
		margin-bottom: 23px;
		
		.heading {
			display: inline-block;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1.78px;
			line-height: 1.26;
			color: #999999;
			
			&:after {
				content: '';
				display: block;
				margin-top: 9px;
				width: 100%;
				height: 2px;
				background: #d8d8d8;
			}
		}
	}
	
	&.modern-with-separator-02 {
		margin-bottom: 34px;
		
		.heading {
			display: inline-block;
			font-size: 26px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1.73px;
			line-height: 1.26;
			color: #999999;
			
			&:after {
				content: '';
				display: block;
				margin-top: 8px;
				width: 100%;
				height: 3px;
				background: #d8d8d8;
			}
		}
	}
	
	&.modern-with-separator-03 {
		margin-bottom: 23px;
		
		.heading {
			display: inline-block;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1.78px;
			line-height: 1.26;
			color: #999999;
			
			&:after {
				content: '';
				display: block;
				margin-top: 9px;
				width: 100%;
				height: 2px;
				background-color: #d8d8d8;
			}
		}
	}
}

.typed-text {
	mark {
		background: none;
	}
}

@include media-breakpoint-down(lg) {
	.tm-heading {
		&.top-separator {
			.heading {
				font-size: 38px;
			}
		}
		
		&.with-separator-02 {
			.heading {
				font-size: 36px;
			}
		}
		
		&.modern-with-separator-02 {
			.heading {
				font-size: 22px;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.tm-heading {
		&.common {
			.heading {
				font-size: 24px;
			}
		}
		
		&.thick-separator {
			.heading {
				font-size: 30px;
			}
		}
		
		&.top-separator {
			.heading {
				font-size: 32px;
			}
		}
		
		&.with-separator-02 {
			.heading {
				font-size: 30px;
			}
		}
		
		&.modern-with-separator-02 {
			.heading {
				font-size: 18px;
			}
		}
	}
}
