.tm-list {
	display: grid;
	grid-row-gap: 15px;
	grid-column-gap: 30px;
	
	.list-item {
		position: relative;
		padding: 0;
	}
	
	.title-wrap {
		overflow: hidden;
	}
	
	.link {
		padding: 0;
		color: currentColor;
	}
	
	.title {
		font-size: 15px;
		line-height: inherit;
		margin-bottom: 0;
	}
	
	.sub-title {
		font-size: inherit;
		font-weight: 400;
		color: #999999;
	}
	
	.desc {
		margin-top: 13px;
		margin-bottom: 26px;
	}
	
	.marker {
		display: inline-block;
		float: left;
	}
	
	&.style-check {
		.list-item {
			padding-left: 23px;
		}
		
		.marker {
			&:before {
				position: absolute;
				top: 4px;
				left: 0;
				display: block;
				font-family: Ionicons;
				content: '\f121';
				font-size: 10px;
			}
		}
		
		.title {
			font-size: 14px;
			font-weight: 700;
			line-height: inherit;
		}
	}
	
	&.style-check-02 {
		grid-row-gap: 12px;
		
		.list-item {
			padding-left: 25px;
		}
		
		.marker {
			&:before {
				position: absolute;
				top: 2px;
				left: 0;
				display: block;
				font-family: Ionicons;
				content: '\f122';
				font-size: 14px;
			}
		}
		
		.title {
			font-size: 15px;
			line-height: inherit;
			color: inherit;
			font-weight: 500;
		}
	}
	
	&.style-icon {
		.title {
			font-size: 18px;
			line-height: 1.55;
		}
		
		.marker {
			min-width: calc(1em + 18px);
			font-size: 20px;
		}
	}
	
	&.style-icon-02 {
		grid-row-gap: 19px;
		
		.title {
			font-size: 15px;
			font-weight: 500;
			line-height: 1.66;
			color: inherit;
		}
		
		.marker {
			min-width: 30px;
			font-size: 18px;
		}
	}
	
	&.style-circle {
		.list-item {
			padding-left: 20px;
		}
		
		.title {
			font-size: 16px;
			font-weight: 700;
		}
		
		.marker {
			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 0;
				display: block;
				width: 6px;
				height: 6px;
				border-radius: 50%;
			}
		}
	}
	
	&.style-circle-02 {
		grid-row-gap: 17px;
		
		.list-item {
			padding-left: 26px;
		}
		
		.title {
			font-size: 14px;
			font-weight: 700;
		}
		
		.marker {
			&:before {
				content: '\f400';
				font-family: 'Ionicons';
				font-size: 8px;
				position: absolute;
				top: 6px;
				left: 0;
			}
		}
	}
	
	&.style-modern-icon {
		grid-row-gap: 30px;
		
		.list-header {
			display: flex;
			align-items: center;
		}
		
		.marker {
			width: 45px;
			height: 45px;
			line-height: 43px;
			border-radius: 50%;
			text-align: center;
			margin-right: 16px;
			font-size: 16px;
			border: 1px solid rgba(255, 255, 255, .2);
			font-weight: 400;
		}
		
		.title {
			font-size: 16px;
			font-weight: 400;
		}
		
		.desc {
			margin-top: 11px;
			margin-bottom: 0;
		}
	}
	
	&.style-auto-numbered,
	&.style-manual-numbered {
		
		grid-row-gap: 30px;
		
		.marker {
			font-size: 20px;
			font-weight: 700;
			line-height: 1.2;
			margin-right: 10px;
		}
		
		.title {
			font-size: 20px;
			line-height: 1.2;
		}
		
		.desc {
			margin-top: 21px;
			margin-bottom: 0;
		}
	}
}

@include media-breakpoint-up(sm) {
	.tm-list {
		&.style-modern-icon {
			grid-row-gap: 60px;
		}
		
		&.style-auto-numbered,
		&.style-manual-numbered {
			grid-row-gap: 57px;
		}
	}
}
