.tm-client {
	
	.image {
		transition: all .3s linear;
	}
	
	.image-hover {
		transition: all .3s linear;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-10px);
	}
	
	.has-image-hover {
		position: relative;
		&:hover {
			.image {
				visibility: hidden;
				opacity: 0;
			}
			
			.image-hover {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
		}
	}
	
	&.style-grid {
		.grid-item {
			position: relative;
			
			&:after {
				display: block;
				position: absolute;
				content: '';
				left: -1px;
				top: -1px;
				right: 0;
				bottom: 0;
				border: 1px solid rgba(255, 255, 255, .15);
				pointer-events: none;
			}
		}
		
		.grid-item-inner {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 200px;
			padding: 15px;
		}
		
	}
}
