.tm-mailchimp-form {
	
	.form-description {
		font-style: italic;
		margin-top: 20px;
	}
	
	input[type='email'] {
		&::-webkit-input-placeholder {
			color: inherit;
		}
		
		&:-moz-placeholder {
			color: inherit;
		}
		
		&::-moz-placeholder {
			color: inherit;
		}
		
		&:-ms-input-placeholder {
			color: inherit;
		}
	}
	
	button {
		i {
			display: none;
		}
	}
	
	&.style-01 {
		.form-item-wrap {
			display: flex;
		}
		
		.form-item {
			&:first-child {
				flex-grow: 1;
			}
			
			&:last-child {
				flex-shrink: 0;
			}
		}
		
		input[type='email'] {
			background: #ffffff;
			border: 0;
			border-radius: 28px 0 0 28px;
			color: #777777;
		}
		
		.form-submit {
			border-radius: 0 28px 28px 0;
		}
	}
	
	&.style-02 {
		.mc4wp-form {
			max-width: 100%;
			width: 570px;
			margin: 0 auto;
			text-align: center;
		}
		
		.form-item-wrap {
			display: flex;
		}
		
		.form-item {
			&:first-child {
				flex-grow: 1;
			}
			
			&:last-child {
				flex-shrink: 0;
			}
		}
		
		input[type='email'] {
			background: #ffffff;
			border: 0;
			border-radius: 28px 0 0 28px;
			color: #777777;
			padding: 3px 30px;
		}
		
		.form-submit {
			border-radius: 0 28px 28px 0;
			
			&:hover {
				color: #ffffff;
			}
		}
		
		.form-description {
			color: #ffffff;
			margin-top: 24px;
		}
	}
	
	&.style-03 {
		.form-item-wrap {
			position: relative;
		}
		
		input[type='email'] {
			background: #ffffff;
			border: 0;
			border-radius: 28px;
			color: #999999;
			padding-right: 65px;
		}
		
		.form-submit {
			border: 0 !important;
			background: transparent !important;
			color: #111111;
			position: absolute;
			top: 0;
			right: 0;
			height: 55px;
			line-height: 55px;
			width: 55px;
			padding: 0;
			
			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 20px;
			}
		}
		
		.form-description {
			color: #ffffff;
			margin-top: 24px;
		}
	}
}

@include media-breakpoint-only(xs) {
	.tm-mailchimp-form {
		&.style-01 {
			input[type='email'] {
				padding: 3px 20px;
			}
			
			.form-submit {
				position: static;
				display: block;
				border-radius: 5px;
				margin: 20px auto 0;
			}
		}
	}
}
