.tm-team-member {
	position: relative;

	&.style-01 {
		.position {
			position: relative;
			font-size: 16px;
			font-style: italic;
			color: rgba(17, 17, 17, .35);
			padding-bottom: 21px;
			margin-bottom: 27px;

			&:after {
				content: '';
				width: 40px;
				height: 3px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 0;
			}
		}

		@extend %transit2;
		position: relative;
		border-radius: 8px;
		background: #fff;
		box-shadow: 0 5px 15px rgba(0, 0, 0, .07);
		border: 1px solid #eee;
		padding: 30px 30px 55px;
		text-align: center;

		&:hover {
			.overlay {
				opacity: 1;
				visibility: visible;
			}
		}

		.photo {
			margin-bottom: 30px;

			img {
				border-radius: 50%;
			}
		}

		.name {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 3px;
		}

		.description {
			margin-top: 10px;
		}

		.social-networks {
			position: absolute;
			bottom: 27px;
			left: 0;
			width: 100%;
			padding: 0 30px;

			a {
				@extend %transit2;
				display: inline-block;
				padding: 5px 10px;
				font-size: 16px;
				line-height: 1;
				color: #c0c0c0;
			}
		}

		.overlay {
			@extend %transit;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: inherit;
			padding: 30px;
			opacity: 0;
			visibility: hidden;

			.name {
				color: #fff;
			}

			.social-networks {
				a {
					color: #fff;
				}
			}
		}

		.overlay-outer {
			display: table;
			width: 100%;
			height: 100%;
		}

		.overlay-inner {
			display: table-cell;
			vertical-align: middle;
		}

		.description {
			margin: 5px 0 20px;
			color: #fff;
		}

		&.skin-dark {
			background: #111;
			border-color: #111;
			box-shadow: none;

			.name {
				color: #fff;
			}

			.position {
				color: rgba(238, 238, 238, .35);
			}

			.social-networks {
				a {
					color: rgba(255, 255, 255, .3);
				}
			}

			.description {
				color: #111;
			}

			.overlay {
				.name {
					color: #111;
				}

				.position {
					color: rgba(17, 17, 17, .35);
				}

				.social-networks {
					a {
						color: rgba(17, 17, 17, .3);
					}
				}
			}
		}
	}

	&.style-02 {
		@extend %transit2;
		position: relative;
		background: #fff;
		box-shadow: 0 5px 15px rgba(0, 0, 0, .07);
		padding: 30px 30px 55px;
		text-align: center;

		&:hover {
			.overlay {
				opacity: 1;
				visibility: visible;
			}
		}

		.photo {
			margin-bottom: 30px;

			img {
				border-radius: 50%;
			}
		}

		.name {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 3px;
		}

		.description {
			margin-top: 10px;
		}

		.social-networks {
			position: absolute;
			bottom: 27px;
			left: 0;
			width: 100%;
			padding: 0 30px;

			a {
				@extend %transit2;
				display: inline-block;
				padding: 5px 10px;
				font-size: 16px;
				line-height: 1;
				color: #c0c0c0;
			}
		}

		.overlay {
			@extend %transit;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 30px;
			opacity: 0;
			visibility: hidden;

			.name {
				color: #fff;
			}

			.social-networks {
				a {
					color: #fff;
				}
			}
		}

		.overlay-outer {
			display: table;
			width: 100%;
			height: 100%;
		}

		.overlay-inner {
			display: table-cell;
			vertical-align: middle;
		}

		.description {
			margin: 5px 0 20px;
			color: #fff;
		}

		.position {
			position: relative;
			font-size: 16px;
			font-style: italic;
			color: rgba(17, 17, 17, .35);
			padding-bottom: 21px;
			margin-bottom: 27px;

			&:after {
				content: '';
				width: 40px;
				height: 3px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 0;
			}
		}

		&.skin-dark {
			background: #111;
			border-color: #111;
			box-shadow: none;

			.name {
				color: #fff;
			}

			.position {
				color: rgba(238, 238, 238, .35);
			}

			.social-networks {
				a {
					color: rgba(255, 255, 255, .3);
				}
			}

			.description {
				color: #111;
			}

			.overlay {
				.name {
					color: #111;
				}

				.position {
					color: rgba(17, 17, 17, .35);
				}

				.social-networks {
					a {
						color: rgba(17, 17, 17, .3);
					}
				}
			}
		}
	}

	&.style-03 {
		&:hover {
			.content-wrap {
				box-shadow: 0 20px 40px rgba(0, 0, 0, .07);
				transform: translateY(-10px);
			}
		}

		.content-wrap {
			@extend %transit;
			background: #fff;
			border-radius: 10px;
			border: 1px solid #eee;
			padding: 35px;
		}

		.content-header {
			display: flex;
			align-items: center;
			margin-bottom: 24px;
		}

		.photo {
			flex-shrink: 0;
			margin-right: 20px;

			img {
				border-radius: 50%;
				width: 64px;
				height: 64px;
				border: 2px solid #eee;
			}
		}

		.name {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 3px;
		}

		.position {
			font-size: 15px;
		}

		.description {
			margin-bottom: 20px;
		}

		.social-networks {
			text-align: right;

			a {
				@extend %transit2;
				display: inline-block;
				padding: 5px 10px;
				font-size: 16px;
				line-height: 1;
				color: #111;
			}
		}

		&.skin-dark {
			.content-wrap {
				background: #202020;
				border-color: transparent;
			}

			.name {
				color: #fff;
			}

			.social-networks {
				a {
					color: #fff;
				}
			}
		}
	}

	&.style-04 {
		@extend %transit;
		background: #fff;
		border-radius: 10px;
		padding: 30px 30px 58px;

		&:hover {
			border-color: transparent;
			box-shadow: 0 0 20px rgba(0, 0, 0, .07);

			&:after {
				border-width: 2px;
			}
		}

		&:after {
			@extend %transit;
			pointer-events: none;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: inherit;
			border: 1px solid #eee;
		}

		.content-header {
			display: flex;
			align-items: center;
			margin-bottom: 30px;
		}

		.photo {
			flex-shrink: 0;
			margin-right: 20px;
			width: 90px;
			height: 90px;

			img {
				border-radius: 50%;
			}
		}

		.name {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 6px;
		}

		.position {
			font-size: 13px;
		}

		.description {
			font-size: 14px;
			margin-bottom: 28px;
		}

		.social-networks {
			margin: -5px;
			a {
				@extend %transit2;
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 38px;
				color: #fff;
				font-size: 16px;
				text-align: center;
				border: 1px solid #ddd;
				border-radius: 50%;
				margin: 5px;

				&:hover {
					color: #fff !important;
				}
			}
		}

		&.skin-dark {
			background: #0a2b3a;

			&:after {
				border-color: transparent;
				border-width: 1px;
			}

			.name {
				color: #fff;
			}

			.social-networks {
				a {
					color: #fff;
					border-color: rgba(221, 221, 221, .2);
				}
			}
		}
	}

	&.style-05 {
		text-align: center;

		&:hover {
			.social-networks {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}

		.content-header {
			margin-bottom: 25px;
		}

		.photo {
			img {
				border-radius: 50%;
			}
		}

		.name {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 6px;
		}

		.position {
			font-size: 13px;
			margin-bottom: 13px;
		}

		.social-networks {
			@extend %transit;
			margin-top: -30px;
			transform: translateY(10px);
			opacity: 0;
			visibility: hidden;

			.inner {
				padding: 9px 10px;
				min-width: 160px;
				border-radius: 23px;
				display: inline-block;
			}

			a {
				@extend %transit2;
				display: inline-block;
				padding: 5px 10px;
				line-height: 1;
				font-size: 16px;
				color: #fff;

				&:hover {
					color: #fff !important;
				}
			}
		}
	}

	&.style-06 {
		text-align: center;

		&:hover {
			.social-networks {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}

		.content-header {
			margin-bottom: 25px;
		}

		.photo {
			img {
				border-radius: 50%;
			}
		}

		.name {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 8px;
		}

		.position {
			font-size: 13px;
			font-weight: 600;
			margin-bottom: 11px;
			text-transform: uppercase;
			color: #bebebe;
		}

		.social-networks {
			@extend %transit;
			margin-top: -30px;
			transform: translateY(10px);
			opacity: 0;
			visibility: hidden;

			.inner {
				padding: 9px 10px;
				min-width: 160px;
				border-radius: 23px;
				display: inline-block;
				background: #fff;
				box-shadow: 0 10px 20px rgba(17, 17, 17, .06);
			}

			a {
				@extend %transit2;
				display: inline-block;
				padding: 5px 10px;
				line-height: 1;
				font-size: 16px;
				opacity: .34;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	&.style-07,
	&.style-09 {
		text-align: center;

		&:hover {
			.social-networks {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}

		.content-header {
			margin-bottom: 25px;
		}

		.photo {
			img {
				border-radius: 50%;
			}
		}

		.name {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 8px;
		}

		.position {
			font-size: 12px;
			font-weight: 600;
			margin-bottom: 11px;
			text-transform: uppercase;
		}

		.social-networks {
			@extend %transit;
			margin-top: -30px;
			transform: translateY(10px);
			opacity: 0;
			visibility: hidden;

			.inner {
				padding: 9px 10px;
				min-width: 160px;
				border-radius: 23px;
				display: inline-block;
			}

			a {
				@extend %transit2;
				display: inline-block;
				padding: 5px 10px;
				line-height: 1;
				font-size: 16px;
				color: #fff;

				&:hover {
					color: #fff !important;
				}
			}
		}
	}

	&.style-08 {
		@extend %transit;
		background: #fff;
		border-radius: 5px;
		border: 1px solid #eee;
		padding: 35px 30px 30px;
		text-align: center;

		&:hover {
			box-shadow: 0 20px 20px rgba(0, 0, 0, .07);
		}

		.photo {
			margin-bottom: 42px;

			img {
				border-radius: 50%;
			}
		}

		.name {
			font-size: 20px;
			font-weight: 700;
			line-height: 1.5;
			margin-bottom: 7px;
		}

		.position {
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: .6px;
			font-weight: 600;
			margin-bottom: 20px;
		}

		.description {
			margin-bottom: 39px;
			color: #999;
		}

		.social-networks {
			a {
				@extend %transit2;
				display: inline-block;
				padding: 5px 10px;
				font-size: 18px;
				line-height: 1;
				color: #999;
			}
		}

		&.skin-dark {
			background: #151515;
			border-color: #151515;
			box-shadow: none;

			.name {
				color: #fff;
			}
		}
	}

	&.style-09 {
		.position {
			text-transform: capitalize;
			font-weight: 400;
			font-style: italic;
			font-size: 14px;
		}
	}
}
