.tm-testimonial {
	
	&.has-pagination {
		margin-bottom: 71px;
	}
	
	.swiper-pagination {
		bottom: -71px;
	}
	
	.post-thumbnail {
		img {
			border-radius: 50%;
		}
	}
	
	.testimonial-rating {
		font-size: 16px;
		margin-bottom: 21px;
		color: #f8c823;
	}
	
	.testimonial-desc {
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.testimonial-by-line {
		font-size: 13px;
		font-weight: 500;
	}
	
	&.style-1 {
		
		margin: -15px;
		
		.testimonial-item {
			width: 100%;
			padding: 15px;
		}
		
		.testimonial-content {
			position: relative;
			width: 100%;
			background-color: #ffffff;
			border-radius: 10px;
			box-shadow: 0 5px 20px rgba(0, 0, 0, .09);
			padding: 33px 25px 42px;
			
			&:before {
				position: absolute;
				top: 100%;
				left: 43px;
				content: '';
				width: 0;
				height: 0;
				border: 12px solid transparent;
				border-color: transparent transparent #ffffff #ffffff;
				transform-origin: 0 0;
				transform: rotate(-45deg);
				box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, .03);
			}
		}
		
		.testimonial-info {
			padding: 40px 0 0 30px;
			display: flex;
			align-items: center;
		}
		
		.post-thumbnail {
			flex-shrink: 0;
		}
		
		.testimonial-main-info {
			flex-grow: 1;
			margin-left: 20px;
		}
		
		.testimonial-name {
			font-size: 15px;
			margin-bottom: 2px;
		}
	}
	
	&.style-2 {
		
		margin-left: -15px;
		margin-right: -15px;
		
		.swiper-slide {
			padding: 15px;
		}
		
		.testimonial-item {
			@extend %transit2;
			position: relative;
			border-radius: 5px;
			padding: 36px 35px 50px;
			background: #ffffff;
			text-align: center;
			
			&:hover {
				transform: translateY(-10px);
				box-shadow: 0 2px 15px rgba(0, 0, 0, .09);
			}
			
			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				height: 3px;
				width: 100%;
				content: '';
			}
		}
		
		.post-thumbnail {
			margin-bottom: 31px;
		}
		
		.testimonial-name {
			font-size: 18px;
			margin-bottom: 4px;
		}
		
		.testimonial-desc {
			margin-top: 27px;
		}
		
		.testimonial-rating {
			margin: 25px 0 0;
		}
	}
	
	&.style-3 {
		
		.swiper-slide:not([data-swiper-row='0']) {
			.testimonial-item {
				margin-top: 18px;
			}
		}
		
		.testimonial-item {
			position: relative;
			padding-left: 45px;
		}
		
		.post-thumbnail {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
		}
		
		.testimonial-info {
			height: 100%;
			border: 1px solid #eeeeee;
			border-radius: 5px;
			background: #ffffff;
			padding: 29px 30px 30px 80px;
		}
		
		.testimonial-main-info {
			margin-bottom: 10px;
			
			> * {
				display: inline-block;
			}
		}
		
		.testimonial-name {
			font-size: 15px;
		}
		
		.testimonial-by-line {
			font-size: 15px;
			font-weight: 600;
		}
		
		.testimonial-rating {
			margin-bottom: 11px;
		}
	}
	
	&.style-4 {
		
		.testimonial-item {
			width: 100%;
			padding: 149px 0;
			background-color: #222222;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		
		.post-thumbnail {
			align-self: flex-end;
			
			img {
				border-radius: 0;
			}
		}
		
		.testimonial-rating {
			margin-bottom: 14px;
		}
		
		.testimonial-info {
			position: relative;
			background: #ffffff;
			border-radius: 5px;
			padding: 56px 50px 45px;
		}
		
		svg {
			position: absolute;
			top: -39px;
			right: 40px;
		}
		
		.testimonial-desc {
			font-size: 18px;
			margin-bottom: 64px;
		}
		
		.testimonial-footer {
			display: flex;
			align-items: center;
		}
		
		.testimonial-name {
			font-size: 18px;
			margin-bottom: 6px;
		}
		
		.testimonial-main-info {
			flex-grow: 1;
		}
		
		.swiper-custom-action-wrap {
			@extend %clearfix;
			flex-shrink: 0;
			overflow: hidden;
			border-radius: 5px;
		}
		
		.swiper-custom-btn {
			height: 60px;
			width: 60px;
			line-height: 58px;
			float: left;
			text-align: center;
			font-size: 20px;
			color: #222222;
			border: 2px solid #eeeeee;
			
			&:hover {
				color: #ffffff;
				cursor: pointer;
			}
		}
		
		.btn-prev-slider {
			border-right-width: 1px;
		}
		
		.btn-next-slider {
			border-left-width: 1px;
		}
	}
	
	&.style-5 {
		
		.testimonial-item {
			display: flex;
			background: #ffffff;
			border-radius: 5px;
			overflow: hidden;
		}
		
		.post-thumbnail {
			width: 50%;
			img {
				border-radius: 0;
			}
		}
		
		.testimonial-info {
			position: relative;
			width: 50%;
			padding: 42px 40px 100px;
		}
		
		.testimonial-main-info {
			position: absolute;
			bottom: 30px;
			left: 40px;
			right: 40px;
		}
		
		.testimonial-name {
			font-size: 18px;
			margin-bottom: 4px;
		}
		
		.testimonial-rating {
			margin: 0 0 18px;
		}
	}
	
	&.style-6 {
		.testimonial-item {
			width: 100%;
		}
		
		.testimonial-content {
			position: relative;
			width: 100%;
			background-color: #f7f7f7;
			border-radius: 10px;
			padding: 33px 30px 42px;
			
			&:before {
				position: absolute;
				top: 100%;
				left: 43px;
				content: '';
				width: 0;
				height: 0;
				border: 12px solid transparent;
				border-color: transparent transparent #f7f7f7 #f7f7f7;
				transform-origin: 0 0;
				transform: rotate(-45deg);
			}
		}
		
		.testimonial-rating {
			margin-bottom: 14px;
		}
		
		.testimonial-info {
			padding: 40px 0 0 30px;
			display: flex;
			align-items: center;
		}
		
		.post-thumbnail {
			flex-shrink: 0;
		}
		
		.testimonial-main-info {
			flex-grow: 1;
			margin-left: 20px;
		}
		
		.testimonial-name {
			font-size: 15px;
			margin-bottom: 2px;
		}
	}
}

@media (min-width: 1600px) {
	.tm-testimonial {
		&.style-1 {
			margin: -25px;
			
			.testimonial-item {
				padding: 25px;
			}
			
			.testimonial-content {
				box-shadow: 0 10px 40px rgba(0, 0, 0, .09);
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.tm-testimonial {
		&.style-4 {
			.testimonial-item {
				padding: 100px 0;
			}
		}
	}
}
