.wpcf7 {
	.wpcf7-response-output {
		margin: 30px 0 0;
		padding: 15px 20px;
		border: 0;
		color: #ffffff;
	}

	.wpcf7-validation-errors {
		background: #f0ad4e;
	}

	.wpcf7-mail-sent-ok {
		background: #5cb85c;
	}

	.wpcf7-not-valid-tip {
		margin-top: 5px;
		color: #d9534f;
		font-size: 12px;
	}
}

.tm-contact-form-7 {
	.wpcf7-form {
		br {
			display: none;
		}
	}

	.form-item {
		position: relative;

		&.has-icon {
			.wpcf7-text,
			.wpcf7-date {
				padding-right: 40px;
			}
		}
	}

	.form-icon {
		font-size: 18px;
		color: #cccccc;
		position: absolute;
		top: 14px;
		right: 17px;
		line-height: 0;
	}

	.wpcf7-form-control-wrap {
		display: block;
		margin-bottom: 30px;
	}

	.wpcf7-textarea {
		height: 150px;
	}

	.ajax-loader {
		display: none !important;
	}

	.wpcf7-submit {
		display: block;
		margin: 47px auto 0;
	}

	&.style-02 {
		.wpcf7-text,
		.wpcf7-date,
		.wpcf7-select,
		.wpcf7-textarea {
			background-color: #1b1b1b;
			border-color: #2c2c2c;
			border-width: 1px !important;

			&::-webkit-input-placeholder {
				color: #ffffff;
			}

			&:-moz-placeholder { /* Firefox 18- */
				color: #ffffff;
			}

			&::-moz-placeholder { /* Firefox 19+ */
				color: #ffffff;
			}

			&:-ms-input-placeholder {
				color: #ffffff;
			}
		}
	}
}

.wrap-style-01 {
	padding: 63px 30px 74px;
	background: #ffffff;
	box-shadow: 0 2px 40px rgba(0, 0, 0, .15);
	border-radius: 5px;

	.form-title {
		text-align: center;
		font-size: 36px;
		margin-bottom: 49px;
	}
}

.wrap-style-02 {
	padding: 84px 45px 85px;
	background: #ffffff url(assets/images/icon-money-bag.png) no-repeat top right -30px;
	border-radius: 5px;

	.form-title {
		font-size: 36px;
		margin-bottom: 47px;
	}
}

@include media-breakpoint-down(sm) {
	.wrap-style-02 {
		padding: 60px 30px;

		.form-title {
			font-size: 28px;
		}
	}
}
