.tm-accordion {
	
	.accordion-title-wrapper {
		cursor: pointer;
	}
	
	.accordion-title {
		@extend %transit2;
		margin-bottom: 0;
	}
	
	.accordion-content {
		display: none;
	}
	
	&.style-01 {
		
		.accordion-section {
			position: relative;
			border-radius: 5px;
			overflow: hidden;
			background: #ffffff;
			
			&:before {
				pointer-events: none;
				content: '';
				border: 1px solid #eeeeee;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: inherit;
				z-index: 1;
			}
			
			+ .accordion-section {
				margin-top: 30px;
			}
		}
		
		.accordion-title {
			position: relative;
			font-size: 18px;
			line-height: 1.2;
			background: #f7f7f7;
			color: #111111;
			padding: 20px 26px;
			margin: -1px -1px 0;
		}
		
		.accordion-icon {
			position: absolute;
			top: 50%;
			right: 35px;
			transform: translateY(-50%);
			font-weight: 500;
			
			&:before {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				font-size: 12px;
				content: '\f123';
				font-family: 'Ionicons';
			}
		}
		
		.active {
			box-shadow: 0 20px 40px rgba(0, 0, 0, .07);
			
			.accordion-title {
				color: #ffffff !important;
				z-index: 2;
			}
			
			.accordion-icon {
				&:before {
					content: '\f124';
				}
			}
		}
		
		.accordion-content {
			padding: 27px 25px 39px;
		}
	}
	
	&.style-02 {
		
		.accordion-section {
			border-radius: 5px;
			overflow: hidden;
			background: #202020;
			
			+ .accordion-section {
				margin-top: 30px;
			}
		}
		
		.accordion-title {
			position: relative;
			font-size: 18px;
			line-height: 1.2;
			padding: 20px 26px;
			margin: -1px -1px 0;
			color: #ffffff;
		}
		
		.accordion-icon {
			position: absolute;
			top: 50%;
			right: 35px;
			transform: translateY(-50%);
			font-weight: 500;
			
			&:before {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				font-size: 12px;
				content: '\f123';
				font-family: 'Ionicons';
			}
		}
		
		.active {
			box-shadow: 0 20px 40px rgba(0, 0, 0, .07);
			
			.accordion-title {
				color: #ffffff !important;
			}
			
			.accordion-icon {
				&:before {
					content: '\f124';
				}
			}
		}
		
		.accordion-content {
			padding: 27px 25px 39px;
			color: #777777;
		}
	}
	
	&.style-03 {
		.accordion-section {
			+ .accordion-section {
				margin-top: 19px;
			}
		}
		
		.accordion-title {
			position: relative;
			font-size: 16px;
			font-weight: 700;
			line-height: 1.2;
			padding: 10px 0;
			border-bottom: 2px solid rgba(255, 255, 255, .1);
			
			&:before,
			&:after {
				@extend %transit;
				content: '';
				position: absolute;
				bottom: -2px;
				width: 0;
				height: 2px;
			}
			
			&:before {
				right: 50%;
			}
			
			&:after {
				left: 50%;
			}
		}
		
		.accordion-icon {
			position: absolute;
			top: 50%;
			right: 7px;
			transform: translateY(-50%);
			font-weight: 500;
			
			&:before {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				font-size: 12px;
				content: '\f218';
				font-family: 'Ionicons';
			}
		}
		
		.accordion-title {
			&:hover {
				&:before,
				&:after {
					width: 50%;
				}
			}
		}
		
		.active {
			.accordion-icon {
				&:before {
					content: '\f209';
				}
			}
		}
		
		.accordion-content {
			padding: 30px 0 22px;
		}
	}
}
