.tm-case-study {
	.tm-grid-pagination {
		margin-top: 80px;
	}
	
	.post-thumbnail {
		position: relative;
		
		img {
			@extend %transit2;
			width: 100%;
		}
	}
	
	.post-categories {
		font-weight: 600;
		font-size: 15px;
		
		a {
			color: inherit;
			font-size: inherit;
		}
	}
	
	.post-title {
		a {
			font-size: inherit;
		}
	}
	
	&.style-grid {
		.post-item-wrap {
			@extend %transit2;
			
			&:hover {
				transform: translateY(-10px);
				
				.post-overlay {
					visibility: visible;
					opacity: 1;
				}
				
				.post-overlay-content {
					visibility: visible;
					opacity: 1;
					transform: translateY(0);
					transition: .5s ease-out .2s;
				}
			}
		}
		
		.post-thumbnail-wrap {
			border-radius: 5px;
			overflow: hidden;
		}
		
		.post-overlay {
			@extend %transit2;
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
			width: 100%;
			height: 100%;
			opacity: 0;
			border-radius: 5px;
			background: rgba(0, 0, 0, .7);
			background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, #000000 76%);
		}
		
		.post-overlay-content {
			position: absolute;
			bottom: 0;
			left: 0;
			visibility: hidden;
			opacity: 0;
			padding: 30px 35px 40px;
			width: 100%;
			transition: .3s ease-out 0s;
			transform: translateY(20px);
		}
		
		.post-categories {
			margin-bottom: 7px;
			
			a {
				&:hover {
					color: #ffffff;
				}
			}
		}
		
		.post-title {
			font-size: 20px;
			font-weight: 600;
			line-height: 1.4;
			
			a {
				color: #ffffff;
			}
		}
	}
	
	&.style-grid-caption {
		.post-item-wrap {
			@extend %transit2;
			border: 1px solid #eeeeee;
			background: #ffffff;
			border-radius: 5px;
			
			&:hover {
				transform: translateY(-10px);
				border-color: transparent;
				box-shadow: 0 30px 30px rgba(0, 0, 0, .07);
			}
		}
		
		.post-thumbnail-wrap {
			margin: -1px -1px 0;
			
			img {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
		}
		
		.post-info {
			padding: 30px 40px 40px;
		}
		
		.post-categories {
			margin-bottom: 10px;
		}
		
		.post-title {
			font-size: 24px;
			font-weight: 600;
			line-height: 1.41;
		}
	}
	
	&.style-modern-list {
		.grid-item {
			
			+ .grid-item {
				margin-top: 60px;
			}
		}
		
		.post-item-wrap {
			display: flex;
			align-items: center;
			flex: 0 1 auto;
			flex-direction: row;
			flex-wrap: wrap;
			margin-right: -15px;
			margin-left: -15px;
		}
		
		.post-thumbnail-wrap,
		.post-info {
			flex: 0 0 auto;
			padding-right: 15px;
			padding-left: 15px;
		}
		
		.post-thumbnail {
			border-radius: 5px;
			overflow: hidden;
		}
		
		.post-info {
			margin-top: 30px;
		}
		
		.post-categories {
			margin-bottom: 18px;
		}
		
		.post-title {
			font-size: 30px;
			line-height: 1.33;
			margin-bottom: 25px;
		}
		
		.post-excerpt {
			margin-bottom: 40px;
		}
		
		.post-read-more {
			.tm-button {
				background: #ffffff;
				border-color: #eeeeee;
				color: #222222;
				width: 180px;
				
				&:hover {
					background: #eeeeee;
					color: #222222;
				}
			}
		}
	}
}

@include media-breakpoint-up(xs) {
	.tm-case-study {
		&.style-modern-list {
			.post-thumbnail-wrap,
			.post-info {
				flex-basis: 100%;
				max-width: 100%;
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.tm-case-study {
		&.style-modern-list {
			.grid-item {
				
				&:nth-child(even) {
					.post-info {
						order: -1;
					}
				}
				
				.post-info,
				.post-thumbnail-wrap {
					flex-basis: 50%;
					max-width: 50%;
				}
				
				.post-info {
					margin: 0;
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.tm-case-study {
		&.style-modern-list {
			.grid-item {
				
				+ .grid-item {
					margin-top: 120px;
				}
				
				&:nth-child(even) {
					.post-info {
						margin-left: 0;
						margin-right: 8.33333333%;
						order: -1;
					}
				}
				
				.post-info {
					margin-left: 8.33333333%;
					flex-basis: 33.33333333%;
					max-width: 33.33333333%;
				}
				
				.post-thumbnail-wrap {
					flex-basis: 58.33333333%;
					max-width: 58.33333333%;
				}
			}
		}
	}
}

