.tm-gallery {
	position: relative;
	
	img {
		width: 100%;
	}
	
	.gallery-item {
		overflow: hidden;
		
		&:hover {
			.overlay {
				visibility: visible;
				opacity: .9;
			}
		}
		
		> a {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
		}
	}
	
	.overlay {
		@extend %transit2;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		
		> div {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 50px;
			color: #ffffff;
		}
	}
}
