.tm-info-boxes {
	&.style-metro {
		
		.grid-item-wrap {
			position: relative;
			overflow: hidden;
			
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
				content: '';
				display: block;
				padding-top: 100%;
			}
		}
		
		.grid-item {
			&.has-image {
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
		
		.box-content {
			/*position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);*/
			padding: 40px;
		}
		
		.icon {
			line-height: 0;
			font-size: 70px;
			margin-bottom: 40px;
		}
		
		.box-title {
			margin-bottom: 20px;
			font-size: 24px;
			line-height: 1.2;
		}
		
		.tm-button {
			margin-top: 27px;
			padding-right: 18px;
			
			&:hover {
				padding-right: 23px;
			}
			
			.button-icon {
				right: 0;
				margin-top: 1px;
				font-size: 15px;
			}
		}
	}
}

@media (min-width: 1600px) {
	.tm-info-boxes {
		&.style-metro {
			.icon {
				margin-bottom: 70px;
			}
			
			.box-content {
				padding: 50px 55px;
			}
			
			.tm-button {
				margin-top: 47px;
			}
		}
	}
}
