.tm-countdown {
	text-align: center;
	max-width: 770px;
	margin: 0 auto;
	
	.day,
	.hour,
	.minute,
	.second {
		text-align: center;
		flex-grow: 1;
	}
	
	.countdown-wrap {
		display: flex;
		align-items: center;
	}
	
	&.style-01 {
		.number {
			display: inline-block;
			font-size: 70px;
			font-weight: 400;
			line-height: 1;
			color: #111111;
		}
		
		.text {
			display: block;
			text-transform: uppercase;
			letter-spacing: 2.14px;
			font-weight: 700;
			font-size: 12px;
			margin-top: 13px;
			color: #999999
		}
		
		&.skin-light {
			.number {
				color: #ffffff;
			}
			
			.text {
				color: rgba(255, 255, 255, .7);
			}
		}
	}
	
	&.style-02 {
		.time_circles {
			position: relative;
			width: 100%;
			height: 100%;
		}
		
		.time_circles > div {
			position: absolute;
			text-align: center;
		}
		
		.time_circles > div > h4 {
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1.71px;
			color: #ffffff;
			line-height: 1;
			margin: 18px 0 0;
		}
		
		.time_circles > div > span {
			display: block;
			width: 100%;
			line-height: .8;
			font-size: 50px;
			font-weight: 600;
			color: #ffffff;
		}
	}
	
	.flip-clock-wrapper {
		margin: 0;
		width: auto;
		display: inline-block;
		padding-bottom: 30px;
	}
	
	.flip-time-wrap {
		position: relative;
		float: left;
		margin-bottom: 30px;
	}
	
	.flip-clock-label {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		float: none;
		clear: both;
		display: block;
		position: static;
		padding-top: 30px;
	}
	
	.flip-clock-dot {
		height: 5px;
		width: 6px;
		left: 7px;
		
		&.top {
			top: 40px;
		}
		
		&.bottom {
			bottom: 40px;
		}
	}
	
	&.style-03 {
		margin: 0 auto;
		
		.flip-clock-label {
			color: #111111;
		}
		
		&.skin-light {
			.flip-clock-label {
				color: #ffffff;
			}
			
			.flip-clock-wrapper {
				ul {
					li a div {
						&.up:after {
							background-color: transparent;
						}
						
						div.inn {
							background-color: #ffffff;
							text-shadow: none;
							color: #081d6a;
						}
					}
				}
			}
			
			.flip-clock-dot {
				background: #fefefe;
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	.tm-countdown {
		&.style-01 {
			.number {
				font-size: 80px;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.tm-countdown {
		&.style-01 {
			.number {
				font-size: 60px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-countdown {
		&.style-01 {
			.number {
				font-size: 40px;
			}
		}
		
		&.style-02 {
			.time_circles {
				> div {
					> h4 {
						margin: 10px 0 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 48em) {
	.main-example {
		width: 100%;
	}
	.main-example .countdown-container {
		height: 100px;
	}
	.main-example .time {
		height: 70px;
		width: 48px;
	}
	.main-example .count {
		font-size: 1.5em;
		line-height: 70px;
	}
	.main-example .label {
		font-size: 0.8em;
		top: 72px;
	}
}
