.tm-button {
	@extend %transit;
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	line-height: 1.2;
	border-style: solid;
	cursor: pointer;
	
	&.tm-button-full-wide {
		width: 100% !important;
	}
	
	&.style-border-icon {
		padding: 0 27px;
		height: 55px;
		line-height: 53px;
		border-width: 1px;
		border-radius: 33px;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.93px;
		
		&.icon-right {
			padding-right: 75px;
			
			.button-icon {
				right: -1px;
			}
		}
		
		&.icon-left {
			padding-left: 75px;
			
			.button-icon {
				left: -1px;
			}
		}
		
		.button-icon {
			@extend %transit2;
			position: absolute;
			top: -1px;
			height: 55px;
			width: 55px;
			display: block;
			font-size: 20px;
			border-radius: 50%;
			
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		
		&.tm-button-primary,
		&.tm-button-secondary {
			color: #ffffff;
			
			&:hover {
				background-color: transparent;
			}
			
			.button-icon {
				border-color: rgba(238, 238, 238, .3);
			}
		}
		
		&.tm-button-white {
			color: #454545;
			background: #ffffff;
			border-color: #ffffff;
			
			.button-icon {
				color: #454545;
			}
			
			&:hover {
				background: transparent;
				
				.button-icon {
					color: #ffffff;
				}
			}
		}
		
		&.tm-button-lg {
			padding: 0 30px;
			height: 68px;
			border-radius: 5px;
			font-size: 18px;
			line-height: 64px;
		}
		
		&.tm-button-sm {
			height: 48px;
			line-height: 46px;
			
			.button-icon {
				width: 48px;
				height: 48px;
			}
		}
		
		&.tm-button-xs {
			padding: 0 18px;
			height: 40px;
			border-width: 2px;
			border-radius: 5px;
			font-size: 12px;
			line-height: 36px;
		}
	}
	
	&.style-icon-rounded-gradient {
		width: 80px;
		height: 80px;
		line-height: 76px;
		text-align: center;
		border: 2px solid rgba(255, 255, 255, .2);
		border-radius: 100%;
		font-size: 30px;
		color: #ffffff;
		background-position: center;
		background-size: 110% auto;
		
		
		.button-text {
			display: none;
		}
		
		&:hover {
			border-color: transparent;
		}
	}
	
	&.style-flat-gradient {
		padding: 0 26px;
		height: 55px;
		line-height: 55px;
		border-width: 0;
		border-radius: 33px;
		font-size: 15px;
		font-weight: 700;
		color: #ffffff;
		background-position: left center;
		background-size: 200% auto;
		
		&:hover {
			background-position: right center !important;
		}
		
		&.icon-right {
			.button-icon {
				margin-left: 10px;
			}
		}
		
		&.icon-left {
			.button-icon {
				margin-right: 10px;
			}
		}
		
		.button-icon {
			display: inline-block;
			transform: translateY(2px);
			line-height: 0;
			font-size: 20px;
		}
		
		&.tm-button-primary,
		&.tm-button-secondary {
			color: #ffffff;
			&:hover {
				background-color: transparent;
			}
		}
		
		&.tm-button-white {
			color: #111111;
			background: #ffffff;
			border-color: #ffffff;
			
			.button-icon {
				color: #454545;
			}
			
			&:hover {
				background: transparent;
				
				.button-icon {
					color: #ffffff;
				}
			}
		}
		
		&.tm-button-lg {
			padding: 0 30px;
			height: 68px;
			border-radius: 33px;
			font-size: 18px;
			line-height: 68px;
		}
		
		&.tm-button-sm {
			padding: 0 22px;
			height: 50px;
			font-size: 13px;
			line-height: 50px;
		}
		
		&.tm-button-xs {
			padding: 0 18px;
			height: 40px;
			border-width: 2px;
			border-radius: 5px;
			font-size: 12px;
			line-height: 40px;
		}
	}
	
	&.style-flat {
		padding: 0 26px;
		height: 55px;
		line-height: 53px;
		border-width: 1px;
		border-radius: 33px;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .93px;
		
		&.icon-right {
			.button-icon {
				margin-left: 10px;
			}
		}
		
		&.icon-left {
			.button-icon {
				margin-right: 10px;
			}
		}
		
		.button-icon {
			display: inline-block;
			transform: translateY(2px);
			line-height: 0;
			font-size: 20px;
		}
		
		&.tm-button-primary,
		&.tm-button-secondary {
			color: #ffffff;
			&:hover {
				background-color: transparent;
			}
		}
		
		&.tm-button-white {
			color: #111111;
			background: #ffffff;
			border-color: #ffffff;
			
			.button-icon {
				color: #454545;
			}
			
			&:hover {
				background: transparent;
				
				.button-icon {
					color: #ffffff;
				}
			}
		}
		
		&.tm-button-lg {
			padding: 0 30px;
			height: 68px;
			border-radius: 5px;
			font-size: 18px;
			line-height: 66px;
		}
		
		&.tm-button-sm {
			padding: 0 22px;
			height: 50px;
			font-size: 15px;
			line-height: 48px;
		}
		
		&.tm-button-xs {
			padding: 0 18px;
			height: 40px;
			border-width: 2px;
			border-radius: 5px;
			font-size: 12px;
			line-height: 38px;
		}
	}
	
	&.style-border-text {
		padding: 0;
		border: 0;
		background-color: transparent;
		font-weight: 600;
		font-size: 16px;
		color: inherit;
		
		.button-text {
			position: relative;
			padding: 5px 0;
			
			&:before,
			&:after {
				@extend %transit2;
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: #eeeeee;
			}
			
			&:after {
				opacity: 0;
				background: currentColor;
				transform: translateY(10px);
			}
		}
		
		&:hover {
			.button-text {
				&:after {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
		
		&.icon-right {
			padding-right: 30px !important;
			.button-icon {
				left: auto;
				right: 1px;
			}
		}
		
		&.icon-left {
			padding-left: 30px !important;
			.button-icon {
				left: 1px;
				right: auto;
			}
		}
		
		.button-icon {
			font-size: 20px;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			right: 20px;
			line-height: 0;
			color: #bbbbbb;
			
			&:before {
				line-height: 0;
			}
		}
		
		&.tm-button-lg {
			font-size: 18px;
		}
		
		&.tm-button-sm {
			font-size: 13px;
		}
		
		&.tm-button-xs {
			font-size: 12px;
		}
	}
	
	&.style-text {
		padding: 0;
		border: 0;
		background-color: transparent;
		font-weight: 600;
		font-size: 15px;
		
		.button-text {
			padding: 5px 0;
		}
		
		&.icon-right {
			padding-right: 20px !important;
			.button-icon {
				left: auto;
				right: 1px;
			}
		}
		
		&.icon-left {
			padding-left: 20px !important;
			.button-icon {
				left: 1px;
				right: auto;
			}
		}
		
		.button-icon {
			font-size: 15px;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			right: 20px;
			line-height: 0;
			color: #bbbbbb;
			
			&:before {
				line-height: 0;
			}
		}
		
		&.tm-button-lg {
			font-size: 18px;
		}
		
		&.tm-button-sm {
			font-size: 13px;
		}
		
		&.tm-button-xs {
			font-size: 12px;
		}
	}
	
	&.style-image-text {
		font-size: 20px;
		font-weight: 500;
		border: 0;
		height: 60px;
		line-height: 60px;
		
		> div {
			display: flex;
			align-items: center;
		}
		
		img {
			flex-shrink: 0;
			margin-right: 10px;
		}
		
		&.tm-button-lg {
			height: 68px;
			line-height: 68px;
		}
		
		&.tm-button-sm {
			height: 50px;
			line-height: 50px;
		}
		
		&.tm-button-xs {
			height: 40px;
			line-height: 40px;
		}
	}
	
	&.tm-button-icon-move {
		.button-icon {
			@extend %transit2;
		}
		
		&.icon-left {
			&:hover {
				.button-icon {
					margin-left: -20px;
				}
			}
		}
		
		&.icon-right {
			&:hover {
				.button-icon {
					margin-left: 20px;
				}
			}
		}
	}
	
	&.tm-button-move-up {
		&:hover {
			transform: translateY(-10px);
		}
	}
	
	&.glint-effect {
		position: relative;
		overflow: hidden;
		
		&:before {
			content: '';
			background-color: rgba(255, 255, 255, .5);
			height: 100%;
			width: 3.5em;
			display: block;
			position: absolute;
			top: 0;
			left: -50%;
			transform: skewX(-45deg);
			transition: none;
		}
		
		&:hover {
			&:before {
				left: 150%;
				transition: all .5s ease-in-out;
			}
		}
	}
}

.rev-btn {
	transition: background-color .5s cubic-bezier(.645, .045, .355, 1), border-color .5s cubic-bezier(.645, .045, .355, 1), color .5s cubic-bezier(.645, .045, .355, 1) !important;
}

.rev_slider {
	
	.left-icon {
		margin-right: 10px;
	}
	
	.right-icon {
		margin-left: 10px;
	}
}

.btn-text-popup-video {
	.button-text {
		font-size: 15px;
		letter-spacing: 0;
		text-transform: none;
		font-weight: normal;
	}
}
