.tm-bitcoin-chart {
	.btcwdgt {
		width: 100% !important;
		max-width: 100% !important;
		
		.btcwdgt-footer {
			display: none !important;
		}
	}
	
	.btcwdgt-chart {
		.btcwdgt-header {
			h2 {
				background: transparent !important;
			}
			
			h4,
			.stats div {
				color: #ffffff !important;
			}
		}
	}
	
	&.skin-dark {
		.btcwdgt {
			box-shadow: none !important;
		}
	}
}
