.tm-custom-menu {
	.widget {
		margin: 0 !important;
	}
	
	&.style-2 {
		.menu {
			@extend %clearfix;
			margin: -8px -15px 0;
			
			> li {
				width: 50%;
				padding: 0 15px;
				float: left;
			}
		}
	}
}
