@keyframes zoomBig {
	0% {
		transform: translate(-50%, -50%) scale(0);
		opacity: 1;
	}
	
	100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
}

.tm-popup-video {
	position: relative;
	
	a:hover {
		.video-play {
			transform: scale3d(1.15, 1.15, 1.15);
		}
	}
	
	.video-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.video-poster {
		position: relative;
	}
	
	.video-text {
		font-size: 15px;
		font-weight: 600;
		color: #ffffff;
		margin-top: 19px;
	}
	
	.video-play {
		position: relative;
		transition: all 1s cubic-bezier(0, 0, .2, 1) !important;
		border-radius: 50%;
		
		&:hover {
			transform: scale3d(1.15, 1.15, 1.15);
		}
		
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	
	.video-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	
	&.style-poster-01 {
		position: relative;
		
		.video-poster {
			position: relative;
			z-index: 2;
			
			img {
				border-radius: 5px;
				width: 100%;
			}
		}
		
		.video-overlay {
			z-index: 3;
			border-radius: 5px;
			background: rgba(69, 69, 69, .2);
		}
		
		.video-play {
			width: 84px;
			height: 84px;
			color: #000000;
			background: #ffffff;
			
			i {
				font-size: 20px;
				line-height: 1;
				margin-left: 1px;
			}
		}
	}
	
	&.style-poster-02 {
		position: relative;
		
		.video-mark {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			pointer-events: none;
		}
		
		.wave-pulse {
			width: 1px;
			height: 0;
			margin: 0 auto;
			
			&:before,
			&:after {
				opacity: 0;
				content: '';
				display: block;
				position: absolute;
				width: 400px;
				height: 400px;
				top: 50%;
				border-radius: 50%;
				border: 1px solid #d8d8d8;
				animation: zoomBig 5.25s linear 5.25s infinite;
			}
			
			&:before {
				animation-delay: .75s;
			}
		}
		
		.wave-pulse-2 {
			&:before {
				animation-delay: 2.25s;
			}
			
			&:after {
				animation-delay: 1.5s;
			}
		}
		
		.wave-pulse-3 {
			&:before {
				animation-delay: 3.75s;
			}
			
			&:after {
				animation-delay: 3s;
			}
		}
		
		.video-poster {
			img {
				border-radius: 10px;
				width: 100%;
			}
		}
		
		.video-button {
			left: 0;
		}
		
		.video-overlay {
			border-radius: 10px;
			background: rgba(0, 0, 0, .4);
		}
		
		.video-play {
			width: 80px;
			height: 80px;
			color: #111111;
			
			i {
				font-size: 20px;
				line-height: 1;
				margin-left: 1px;
			}
		}
	}
	
	&.style-poster-03 {
		position: relative;
		
		.video-mark {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			pointer-events: none;
		}
		
		.wave-pulse {
			width: 1px;
			height: 0;
			margin: 0 auto;
			
			&:before,
			&:after {
				opacity: 0;
				content: '';
				display: block;
				position: absolute;
				width: 400px;
				height: 400px;
				top: 50%;
				border-radius: 50%;
				border: 1px solid #999999;
				animation: zoomBig 5.25s linear 5.25s infinite;
			}
			
			&:before {
				animation-delay: .75s;
			}
		}
		
		.wave-pulse-2 {
			&:before {
				animation-delay: 2.25s;
			}
			
			&:after {
				animation-delay: 1.5s;
			}
		}
		
		.wave-pulse-3 {
			&:before {
				animation-delay: 3.75s;
			}
			
			&:after {
				animation-delay: 3s;
			}
		}
		
		.video-poster {
			img {
				border-radius: 10px;
				width: 100%;
			}
		}
		
		.video-button {
			left: 0;
		}
		
		.video-overlay {
			border-radius: 10px;
			background: rgba(0, 0, 0, .4);
		}
		
		.video-play {
			width: 80px;
			height: 80px;
			color: #ffffff;
			
			i {
				font-size: 20px;
				line-height: 1;
				margin-left: 1px;
			}
		}
	}
	
	&.style-button {
		.video-play {
			width: 70px;
			height: 70px;
			border: 1px solid rgba(255, 255, 255, .63);
			color: #000000;
			
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 50px;
				height: 50px;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				background: #ffffff;
			}
			
			i {
				font-size: 16px !important;
				line-height: 1;
				margin-left: 2px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-popup-video {
		&.style-poster-02,
		&.style-poster-03 {
			.video-mark {
				display: none;
			}
			
			.video-button {
				left: 50%;
			}
		}
	}
}
