.pricing-wrap {
	display: flex;
	align-items: flex-start;
	.tm-pricing {
		flex: 1 1 auto;
	}
}

.tm-pricing-group {
	
	box-shadow: 0 14px 29px rgba(0, 0, 0, .06);
	background: #ffffff;
	border-radius: 10px;
	overflow: hidden;
}

.tm-pricing {
	z-index: 2;
	
	.tm-pricing-list {
		margin: 0;
		padding: 0;
		
		li {
			list-style-type: none;
		}
	}
	
	.tm-pricing-button {
		min-width: 170px;
		max-width: 100%;
	}
	
	&.style-1 {
		margin-bottom: 30px;
		
		.inner {
			@extend %transit2;
			position: relative;
			margin: 0 auto;
			border: 2px solid #eeeeee;
			border-radius: 5px;
			background-color: #ffffff;
			padding-bottom: 49px;
		}
		
		.tm-pricing-header {
			text-align: center;
			background: #f6f9ff;
			border-radius: inherit;
			padding: 60px 30px 31px;
		}
		
		.price-wrap-inner {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			margin-bottom: 25px;
		}
		
		.currency {
			font-size: 24px;
			color: inherit;
		}
		
		.price {
			font-size: 80px;
			color: inherit;
			line-height: .7;
			margin-left: 4px;
			margin-right: 4px;
		}
		
		.period {
			font-size: 15px;
			font-weight: 600;
			color: inherit;
		}
		
		.image {
			margin-bottom: 30px;
		}
		
		.title {
			font-size: 20px;
			margin-bottom: 14px;
		}
		
		.description {
			font-size: 13px;
		}
		
		.tm-pricing-content {
			padding: 25px 35px 0;
		}
		
		.tm-pricing-list {
			font-weight: 500;
			
			li {
				position: relative;
				display: block;
				padding: 12px 0 12px 34px;
				
				&:before {
					content: '\f400';
					font-family: Ionicons;
					font-size: 10px;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate(0, -50%);
				}
				
				i {
					font-size: 16px;
					margin-right: 5px;
				}
				
				+ li {
					border-top: 1px solid #eeeeee;
				}
				
			}
		}
		
		.tm-pricing-footer {
			padding-top: 30px;
			text-align: center;
		}
	}
	
	&.style-2 {
		margin-bottom: 30px;
		
		.inner {
			@extend %transit2;
			position: relative;
			margin: 0 auto;
			border: 2px solid #eeeeee;
			border-radius: 5px;
			background-color: #ffffff;
			padding: 44px 40px 54px;
		}
		
		&.tm-pricing-featured {
			.inner {
				background: #ffffff;
				padding: 52px 40px 58px;
			}
		}
		
		.price-wrap-inner {
			display: flex;
			align-items: flex-start;
			margin-bottom: 25px;
		}
		
		.currency {
			font-size: 24px;
			color: inherit;
		}
		
		.price {
			font-size: 80px;
			color: inherit;
			line-height: .7;
			margin-left: 4px;
			margin-right: 4px;
		}
		
		.period {
			font-size: 15px;
			font-weight: 600;
			color: inherit;
		}
		
		.image {
			margin-bottom: 30px;
		}
		
		.title {
			font-size: 24px;
			margin-bottom: 14px;
		}
		
		.description {
			font-size: 13px;
		}
		
		.tm-pricing-content {
			padding-top: 21px;
		}
		
		.tm-pricing-list {
			font-weight: 500;
			li {
				position: relative;
				display: block;
				list-style-type: none;
				
				i {
					font-size: 14px;
					margin-right: 13px;
				}
				
				+ li {
					margin-top: 12px;
				}
			}
		}
		
		.tm-pricing-footer {
			padding-top: 61px;
			text-align: center;
		}
	}
	
	&.style-3 {
		margin-bottom: 30px;
		
		.inner {
			@extend %transit2;
			position: relative;
			margin: 0 auto;
			border: 1px solid #eeeeee;
			border-radius: 5px;
			background-color: #ffffff;
			padding-bottom: 60px;
		}
		
		&.tm-pricing-featured {
			.inner {
				border-width: 2px;
			}
		}
		
		.tm-pricing-header {
			text-align: center;
			background: #f9f8ff;
			border-radius: inherit;
			padding: 60px 30px 31px;
		}
		
		.price-wrap-inner {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			margin-bottom: 25px;
		}
		
		.currency {
			font-size: 24px;
			color: inherit;
		}
		
		.price {
			font-size: 80px;
			color: inherit;
			line-height: .7;
			margin-left: 4px;
			margin-right: 4px;
		}
		
		.period {
			font-size: 15px;
			font-weight: 600;
			opacity: .23;
		}
		
		.image {
			margin-bottom: 30px;
		}
		
		.title {
			font-size: 20px;
			margin-bottom: 14px;
		}
		
		.description {
			font-size: 13px;
		}
		
		.tm-pricing-content {
			padding: 46px 30px 0;
			text-align: center;
		}
		
		.tm-pricing-list {
			font-weight: 400;
			
			li {
				position: relative;
				display: block;
				
				i {
					font-size: 16px;
					margin-right: 5px;
				}
				
				+ li {
					margin-top: 16px;
				}
				
			}
		}
		
		.tm-pricing-footer {
			padding-top: 46px;
			text-align: center;
		}
		
		&:not(.tm-pricing-featured) {
			.tm-pricing-button {
				color: #999999;
				background-color: #eeeeee;
				border-color: #eeeeee;
				
				&:hover {
					background-color: transparent;
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.pricing-wrap {
		flex-wrap: wrap;
		.tm-pricing {
			width: 100%;
			max-width: 100%;
		}
	}
}
