.tm-loan-form {
	.form-wrap {
		display: flex;
		align-items: center;
	}
	
	.form-item {
		flex-grow: 1;
	}
	
	.form-submit {
		justify-self: flex-end;
		flex-shrink: 0;
	}
	
	&.style-01 {
		input {
			font-size: 50px;
			font-weight: bold;
			color: #ffffff !important;
			background: transparent !important;
			border: 0;
			border-radius: 0;
			border-bottom: 2px solid rgba(255, 255, 255, .32) !important;
			max-width: 300px;
			line-height: 1.22;
			padding: 0 0 15px;
			height: auto;
			
			&::-webkit-input-placeholder {
				color: rgba(255, 255, 255, .5);
			}
			
			&:-moz-placeholder {
				color: rgba(255, 255, 255, .5);
			}
			
			&::-moz-placeholder {
				color: rgba(255, 255, 255, .5);
			}
			
			&:-ms-input-placeholder {
				color: rgba(255, 255, 255, .5);
			}
		}
		
		button {
			&:hover {
				background-color: transparent;
			}
		}
	}
	
	&.style-02 {
		input {
			font-size: 50px;
			font-weight: bold;
			color: rgba(17, 17, 17, .5);
			background: transparent !important;
			border: 0;
			border-radius: 0;
			border-bottom: 2px solid rgba(17, 17, 17, .17) !important;
			max-width: 300px;
			line-height: 1.22;
			padding: 0 0 15px;
			height: auto;
			
			&:focus {
				color: #111111;
			}
			
			&::-webkit-input-placeholder {
				color: inherit;
			}
			
			&:-moz-placeholder {
				color: inherit;
			}
			
			&::-moz-placeholder {
				color: inherit;
			}
			
			&:-ms-input-placeholder {
				color: inherit;
			}
		}
		
		button {
			&:hover {
				background-color: transparent;
			}
		}
	}
}

// Popup Loan Form

.form-overdraft {
	@extend %transit;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	background: rgba(0, 0, 0, .6);
	padding: 112px 100px 145px;
	opacity: 0;
	visibility: hidden;
	overflow-y: scroll;
	
	.tm-animation.move-up {
		transform: translateY(150px);
		animation: moveVertical 0.65s ease forwards;
	}
	
	h1, h2, h3, h4, h5, h6, a {
		color: #111111;
	}
	
	.inner {
		@extend %transit;
		position: relative;
		padding: 145px 30px 136px;
		background: #eeeeee;
		transform: translateY(30px);
	}
	
	.overdraft-header {
		text-align: center;
		margin-bottom: 100px;
	}
	
	.form-step-section {
		+ .form-step-section {
			margin-top: 78px;
		}
	}
	
	.form-step-select-duration {
		.form-step-content {
			padding: 105px 0 0;
		}
	}
	
	.overdraft-title {
		font-size: 40px;
		line-height: 1.325;
	}
	
	.form-step-title {
		font-size: 30px;
		margin-bottom: 53px;
		
		span {
			display: inline-block;
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			border-radius: 50%;
			font-size: 24px;
			font-weight: 700;
			color: #ffffff;
			margin-right: 10px;
		}
	}
	
	.form-step-content {
		@extend %clearfix;
		border-radius: 10px;
		background: #ffffff;
		padding: 75px 100px 115px;
	}
	
	.form-label {
		font-size: 20px;
		margin-bottom: 45px;
	}
	
	.form-description {
		font-size: 18px;
	}
	
	.btn-unit {
		position: relative;
		display: flex;
		align-items: center;
		color: #111111;
		border: 2px solid #eeeeee;
		border-radius: 5px;
		height: 70px;
		width: 300px;
		font-size: 20px;
		line-height: 1.5;
		vertical-align: middle;
		padding: 0 30px;
		
		img {
			margin-right: 18px;
		}
		
		+ .btn-unit {
			margin-top: 37px;
		}
		
		&.selected {
			&:before {
				font-family: Ionicons;
				font-size: 20px;
				content: '\f121';
				position: absolute;
				top: 50%;
				margin-top: -18px;
				right: -18px;
				width: 36px;
				height: 36px;
				line-height: 36px;
				text-align: center;
				border-radius: 50%;
				color: #ffffff;
			}
		}
	}
	
	.left-column {
		float: left;
		width: 300px;
	}
	
	.right-column {
		float: right;
		width: calc(100% - 400px);
		
		input {
			font-size: 50px;
			font-weight: bold;
			background: transparent !important;
			border: 0;
			border-radius: 0;
			border-bottom: 2px solid #dddddd !important;
			line-height: 1.22;
			padding: 0 0 15px;
			height: auto;
		}
	}
	
	.form-wrap {
		+ .form-wrap {
			margin-top: 90px;
		}
	}
	
	.control-wallet {
		.form-label {
			margin-bottom: 13px;
		}
	}
	
	.slider-wrap {
		padding: 0 100px 50px;
		border-bottom: 1px solid #eeeeee;
	}
	
	.ui-slider {
		border-radius: 5px;
		border: 0;
		background: #dddddd;
		height: 10px;
		
		.ui-slider-handle {
			border: 0;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			top: -15px;
			cursor: ew-resize;
			
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 24px;
				height: 24px;
				transform: translate(-12px, -12px);
				border-radius: 50%;
			}
		}
		
		.ui-slider-range.ui-slider-range-min {
			background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
			background-size: 10px 10px;
		}
	}
	
	.slider-value {
		position: absolute;
		top: -50px;
		left: -55px;
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		width: 150px;
	}
	
	.slider-labels {
		@extend %clearfix;
		font-size: 16px;
		color: #111111;
		margin-top: 11px;
	}
	
	.slider-label-max {
		float: right;
	}
	
	.total-info {
		display: flex;
		align-items: center;
		padding: 50px 100px;
	}
	
	.total-label {
		font-size: 20px;
		width: 50%;
	}
	
	.sub-total {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	
	.cost {
		font-size: 50px;
		font-weight: 700;
		margin-bottom: 0;
	}
	
	.per-month {
		margin-left: 20px;
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	
	.payment-method-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		border-radius: 5px;
		margin: 55px 0 60px;
	}
	
	.payment-item {
		text-align: center;
		padding: 23px 30px;
		position: relative;
		
		img {
			margin-bottom: 18px;
		}
		
		&:before {
			position: absolute;
			top: -1px;
			left: -1px;
			right: 0;
			bottom: 0;
			content: "";
			border: 1px solid #eeeeee;
			pointer-events: none;
		}
	}
	
	.form-step-payment-method {
		.form-step-content {
			padding: 71px 100px 86px;
		}
		
		.form-label {
			margin-bottom: 10px;
		}
		
		.form-submit {
			text-align: center;
		}
	}
	
	.overdraft-footer {
		max-width: 740px;
		margin: 140px auto 0;
		text-align: center;
	}
	
	.overdraft-footer-title {
		font-size: 36px;
		line-height: 1.5;
		font-weight: 700;
		margin-bottom: 91px;
	}
	
	.subscribe-form {
		max-width: 570px;
		margin: 0 auto 61px;
		
		h6 {
			font-size: 20px;
			margin-bottom: 34px;
		}
	}
	
	.tm-button.join-telegram-btn {
		border-color: #cfcfcf;
		background: transparent;
		
		&:hover {
			.button-text {
				color: #ffffff;
			}
		}
		
		.button-text {
			color: #111111;
		}
		
		.button-icon {
			color: #ffffff;
		}
	}
}

.popup-overdraft-opened {
	.form-overdraft {
		opacity: 1;
		visibility: visible;
		
		.inner {
			transform: translateY(0);
		}
	}
}

.form-overdraft-close {
	position: absolute;
	top: 35px;
	right: 40px;
	font-size: 26px;
	color: #111111;
	cursor: pointer;
}
