@keyframes sonarEffect {
	0% {
		opacity: .3;
	}
	40% {
		opacity: .5;
		box-shadow: 0 0 0 2px rgba(255, 255, 255, .1), 0 0 10px 10px #6ca70d, 0 0 0 10px rgba(255, 255, 255, .5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255, 255, 255, .1), 0 0 10px 10px #6ca70d, 0 0 0 10px rgba(255, 255, 255, .5);
		transform: scale(1.5);
		opacity: 0;
	}
}

.tm-box-icon {
	@extend %clearfix;
	margin-bottom: 60px;
	position: relative;
	
	.icon {
		line-height: 1;
	}
	
	.image {
		margin-bottom: 35px;
	}
	
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.content-wrap {
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
	}
	
	.tm-svg {
		line-height: 0;
		* {
			stroke: currentColor;
		}
	}
	
	.heading {
		margin-bottom: 0;
	}
	
	.tm-box-icon__btn {
		margin-top: 34px;
		
		.button-icon {
			font-size: 16px;
			position: relative;
			top: 1px;
			left: auto;
			right: auto;
			transform: none;
			margin-left: 3px;
		}
	}
	
	&.style-01 {
		&:hover {
			.content-wrap {
				transform: translateY(-20px);
				box-shadow: 0 20px 40px rgba(0, 0, 0, .07);
			}
		}
		
		.box-header {
			position: relative;
			width: 100%;
			padding: 33px 30px;
			border-bottom: 1px solid #eeeeee;
			margin-bottom: 35px;
			
			&:after {
				content: '';
				height: 3px;
				width: 40px;
				position: absolute;
				bottom: -1px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		
		.content-wrap {
			@extend %transit;
			border: 1px solid #eeeeee;
			background-color: #ffffff;
			border-radius: 10px;
			padding: 0 0 72px;
		}
		
		.content {
			padding: 0 35px;
		}
		
		.icon {
			font-size: 54px;
			margin-bottom: 36px;
		}
		
		.tm-svg {
			width: 54px;
		}
		
		.heading {
			font-size: 20px;
			line-height: 1.2;
		}
		
		&.skin-dark {
			.content-wrap {
				box-shadow: none;
				background-color: #1c1c1c;
				border-color: transparent;
			}
			
			.box-header {
				border-color: rgba(238, 238, 238, .07);
			}
			
			.heading {
				color: #ffffff;
			}
			
			.text {
				color: #999999;
			}
		}
	}
	
	&.style-02 {
		&:hover {
			.box-header {
				&:after {
					width: 100%;
				}
			}
		}
		
		.box-header {
			position: relative;
			padding-bottom: 30px;
			margin-bottom: 30px;
			
			&:before,
			&:after {
				position: absolute;
				content: '';
				bottom: 0;
				left: 0;
				width: 0;
			}
			
			&:before {
				height: 1px;
				background: #dddddd;
				width: 100%;
				bottom: 2px;
			}
			
			&:after {
				@extend %transit;
				height: 3px;
				background: red;
			}
		}
		.icon {
			font-size: 56px;
			margin-bottom: 36px;
		}
		
		.tm-svg {
			width: 56px;
		}
		
		.heading {
			font-size: 18px;
			line-height: 1.5;
		}
		
		&.skin-dark {
			.box-header {
				&:before {
					background: #242424;
				}
			}
			
			.heading {
				color: #ffffff;
			}
		}
	}
	
	&.style-03 {
		&:hover {
			.content-wrap {
				transform: translateY(-10px);
				box-shadow: 0 20px 40px rgba(0, 0, 0, .07);
			}
		}
		
		.icon {
			width: 50px;
			height: 50px;
			color: #ffffff;
			text-align: center;
			line-height: 50px;
			border-radius: 50%;
			font-size: 20px;
			margin-right: 22px;
			display: inline-block;
			float: left;
		}
		
		.content-wrap {
			@extend %transit2;
			background: #ffffff;
			border-radius: 5px;
			border: 1px solid #eeeeee;
			padding: 40px 20px;
		}
		
		.content {
			overflow: hidden;
		}
		
		.heading {
			font-size: 20px;
			margin-bottom: 18px;
		}
		
		&.skin-dark {
			.content-wrap {
				background: #202020;
				border-color: #202020;
			}
			
			.heading {
				color: #ffffff;
			}
		}
	}
	
	&.style-04 {
		.icon {
			font-size: 50px;
			margin-right: 22px;
			display: inline-block;
			flex-shrink: 0;
		}
		
		.content-wrap {
			@extend %transit2;
			padding: 30px 40px;
		}
		
		.content-inner {
			display: flex;
			align-items: center;
			margin-bottom: 18px;
		}
		
		.content {
			flex-grow: 1;
		}
		
		.heading {
			font-size: 24px;
			font-weight: 700;
		}
	}
	
	&.style-05 {
		.icon {
			font-size: 56px;
			margin-bottom: 25px;
		}
		
		.tm-svg {
			width: 56px;
		}
		
		.heading {
			font-size: 20px;
			line-height: 1.5;
			font-weight: 700;
			margin-bottom: 20px;
		}
		
		&.skin-dark {
			.box-header {
				&:before {
					background: #242424;
				}
			}
			
			.heading {
				color: #ffffff;
			}
		}
	}
	
	&.style-06 {
		.icon {
			font-size: 50px;
			margin-right: 22px;
			display: inline-block;
			float: left;
			min-width: 60px;
		}
		
		.content {
			overflow: hidden;
		}
		
		.heading {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 19px;
		}
	}
}
