.tm-blog {
	.post-item {
		box-sizing: border-box;
		word-wrap: break-word;
	}
	
	.post-title,
	.post-categories {
		a {
			color: inherit;
			font-size: inherit;
		}
	}
	
	.post-excerpt {
		p:last-child {
			margin-bottom: 0;
		}
	}
	
	.format-gallery {
		.swiper-pagination {
			bottom: 27px;
			.swiper-pagination-bullet {
				&:before {
					background: #ffffff;
				}
			}
		}
	}
	
	.post-audio {
		margin-bottom: -8px;
		iframe {
			width: 100%;
			height: 145px;
			border: 0;
		}
	}
	
	.post-link {
		margin-bottom: 14px;
		a {
			letter-spacing: -.02em;
			font-size: 20px;
			line-height: 1.2;
		}
	}
	
	.post-quote {
		padding: 55px 35px 47px;
		background: url(assets/images/blog-quote-icon.png) no-repeat top 0 right 2px;
		
		.post-quote-text {
			margin-bottom: 18px;
			color: #ffffff;
			font-weight: 500;
			font-size: 22px;
			line-height: 1.3;
		}
		
		.post-quote-name {
			position: relative;
			padding-left: 40px;
			letter-spacing: -.02em;
			font-style: italic;
			font-size: 16px;
			
			&:before {
				position: absolute;
				top: 50%;
				left: 0;
				display: block;
				width: 29px;
				height: 1px;
				background-color: #ffffff;
				content: '';
			}
			
			a {
				color: #ffffff;
			}
		}
	}
	
	&.style-list {
		@extend %clearfix;
		
		.post-item + .post-item {
			margin-top: 100px;
		}
		
		.post-thumbnail {
			position: relative;
			text-align: center;
		}
		
		.post-feature {
			margin-bottom: 30px;
			
			img {
				border-radius: 5px;
			}
		}
		
		.post-title {
			margin-bottom: 24px;
			font-size: 40px;
			line-height: 1.325;
		}
		
		.post-meta {
			margin-bottom: 41px;
			padding-bottom: 33px;
			border-bottom: 1px solid #eeeeee;
			
			.meta-icon {
				position: relative;
				top: 2px;
				margin-right: 5px;
				font-size: 18px;
			}
			
			a {
				font-weight: 500;
			}
			
			> div {
				position: relative;
				display: inline-block;
				
				+ div {
					padding-left: 15px;
					margin-left: 7px;
					
					&:before {
						content: ' ';
						position: absolute;
						top: 50%;
						left: 0;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background: #eeeeee;
						transform: translate(0, -50%);
					}
				}
			}
		}
		
		.post-excerpt {
			margin-bottom: 52px;
		}
		
		.post-read-more {
			.tm-button {
				min-width: 180px;
			}
		}
	}
	
	&.style-grid_classic_01,
	&.style-grid_classic_02,
	&.style-grid_classic_03 {
		.tm-rotate-box {
			text-align: left;
			
			.box {
				border-radius: 10px;
				background: #ffffff;
				min-height: 340px;
				
				&:before {
					display: none;
				}
			}
		}
		
		.box {
			display: flex;
		}
		
		.inner {
			padding: 35px 35px 55px;
			display: flex;
			flex-direction: column;
		}
		
		.media {
			flex-grow: 1;
		}
		
		.post-title {
			font-size: 24px;
			line-height: 1.33;
		}
		
		.back {
			.post-title {
				color: #ffffff;
			}
		}
		
		.post-read-more {
			.btn-text {
				font-size: 13px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.93px;
			}
		}
	}
	
	&.style-grid_classic_02 {
		.tm-rotate-box .box {
			box-shadow: 0 20px 40px rgba(0, 0, 0, .07);
		}
		
		.post-read-more {
			a {
				color: #ffffff;
				
			}
			
			.btn-text {
				text-transform: none;
				font-size: 15px;
			}
		}
	}
	
	&.style-grid_classic_03 {
		.tm-rotate-box .box {
			background: #01308e;
		}
		
		.post-read-more {
			a {
				color: #ffffff;
			}
			
			.btn-text {
				text-transform: none;
				font-size: 15px;
			}
		}
	}
	
	&.style-grid_classic_04 {
		.post-item-wrap {
			position: relative;
			
			&:hover {
				.post-thumbnail {
					img {
						transform: scale3d(1.15, 1.15, 1.15);
					}
				}
			}
		}
		
		.post-thumbnail {
			overflow: hidden;
			img {
				transition: all 1.5s cubic-bezier(0, 0, .2, 1);
				width: 100%;
			}
			
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: rgba(0, 0, 0, .6);
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
			}
		}
		
		.post-info {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0 45px 50px;
		}
		
		.post-categories {
			margin: 0 -5px 19px;
			font-size: 0;
			
			a {
				display: inline-block;
				font-size: 13px;
				font-weight: 600;
				color: #ffffff !important;
				padding: 5px 10px;
				border-radius: 15px;
				margin: 0 5px 5px;
				
				&:hover {
					transform: translateY(-5px);
				}
			}
		}
		
		.post-title {
			font-size: 24px;
			line-height: 1.25;
			margin-bottom: 18px;
			color: #ffffff;
		}
		
		.post-date {
			font-weight: 500;
			color: #c0c0c0;
			
			span {
				font-size: 18px;
				margin-right: 3px;
				vertical-align: text-top;
			}
		}
	}
	
	&.style-metro {
		.post-item-wrap {
			position: relative;
			overflow: hidden;
			
			&:before {
				content: '';
				display: block;
				padding-top: 100%;
			}
			
			&:hover {
				.post-thumbnail {
					transform: scale3d(1.15, 1.15, 1.15);
				}
			}
		}
		
		.post-thumbnail {
			transition: all 1.5s cubic-bezier(0, 0, .2, 1);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #222222;
			background-size: cover;
			background-repeat: no-repeat;
			
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, .6);
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
			}
		}
		
		.post-info {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 40px 40px;
			width: 100%;
		}
		
		.post-categories {
			margin: 0 -5px 19px;
			font-size: 0;
			
			a {
				display: inline-block;
				font-size: 13px;
				font-weight: 600;
				color: #ffffff !important;
				padding: 5px 10px;
				border-radius: 15px;
				margin: 0 5px 5px;
				
				&:hover {
					transform: translateY(-5px);
				}
			}
		}
		
		.post-title {
			font-size: 24px;
			line-height: 1.25;
			margin-bottom: 18px;
			color: #ffffff;
		}
		
		.post-date {
			font-weight: 500;
			color: #c0c0c0;
			
			span {
				font-size: 18px;
				margin-right: 3px;
				vertical-align: text-top;
			}
		}
	}
	
	&.style-carousel {
		.swiper-slide-prev ~ .swiper-slide {
			.post-item-wrap {
				box-shadow: 20px 2px 30px rgba(0, 0, 0, .05);
			}
		}
		
		.swiper-slide-active {
			.post-item-wrap {
				border-left: 1px solid #eeeeee;
			}
		}
		
		.post-item-wrap {
			padding: 75px 40px 51px;
			height: 100%;
		}
		
		.media {
			margin-bottom: 120px;
		}
		
		.post-title {
			font-size: 24px;
			line-height: 1.33;
			margin-bottom: 23px;
		}
		
		.post-read-more {
			display: inline-block;
			margin-top: 40px;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 1px;
			text-transform: uppercase;
			
			.button-icon {
				@extend %transit;
				position: relative;
				margin-left: 4px;
				opacity: 0;
				transform: translateX(10px);
			}
			
			&:hover {
				.button-icon {
					opacity: 1;
					transform: translateX(0);
				}
			}
		}
		
		&.skin-light {
			.swiper-slide-prev ~ .swiper-slide {
				.post-item-wrap {
					box-shadow: 20px 2px 30px rgba(0, 0, 0, .26);
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-blog {
		&.style-grid_classic_03 {
			.post-info {
				padding: 31px 30px 54px;
			}
		}
	}
}
