.tm-grid-group {
	
	.tm-box-icon,
	.tm-card,
	.tm-pricing {
		height: 100%;
		margin-bottom: 0;
	}
	
	&.style-border {
		.grid-item {
			&:after {
				position: absolute;
				content: '';
				right: 0;
				top: 0;
				bottom: 0;
				background: #eeeeee;
				width: 1px;
			}
			
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
	
	&.style-border-rounded {
		.tm-grid {
			border: 1px solid rgba(238, 238, 238, .17);
			border-radius: 10px;
			overflow: hidden;
		}
		
		.grid-item {
			&:after {
				position: absolute;
				content: '';
				left: -1px;
				top: -1px;
				right: -1px;
				bottom: -1px;
				border: 1px solid rgba(238, 238, 238, .17);
				pointer-events: none;
			}
		}
	}
	
	&.style-rounded {
		border-radius: 10px;
		overflow: hidden;
	}
}
