.tm-gradation {
	margin: 0 -15px;
	display: flex;
	overflow: hidden;
	
	.count {
		font-size: 36px;
		font-weight: 700;
		color: #dddddd;
		margin-bottom: 29px;
		letter-spacing: 3.6px;
		line-height: 1.22;
	}
	
	.count-wrap {
		position: relative;
		height: 20px;
		margin-bottom: 27px;
		
		&:before,
		&:after {
			position: absolute;
			top: 50%;
			left: 0;
			content: '';
			transform: translate(0, -50%);
			border-radius: 50%;
		}
		
		&:before {
			width: 20px;
			height: 20px;
			opacity: .33;
			z-index: 1;
		}
		
		&:after {
			width: 12px;
			height: 12px;
			z-index: 2;
			left: 4px;
		}
	}
	
	.line {
		position: absolute;
		top: 10px;
		left: 0;
		background: #eeeeee;
		width: 150%;
		height: 1px;
		margin-top: -1px;
	}
	
	.item {
		width: 25%;
		padding: 0 15px;
		position: relative;
		opacity: 0;
		
		&.animate {
			opacity: 1;
			-webkit-transform: translateX(100px);
			transform: translateX(100px);
			-webkit-animation: moveHorizontal 0.65s ease forwards;
			animation: moveHorizontal 0.65s ease forwards;
		}
		
		&:first-child {
			.line {
				&:before {
					display: none;
				}
			}
		}
		
		&:last-child {
			.line {
				&:after {
					display: none;
				}
			}
		}
	}
	
	.title {
		font-size: 20px;
		margin-bottom: 15px;
	}
	
	.text {
		font-weight: 500;
	}
}

@include media-breakpoint-down(sm) {
	.tm-gradation {
		display: block;
		
		.item {
			width: 100%;
			+ .item {
				margin-top: 50px;
			}
		}
		
		.count-wrap {
			margin-bottom: 25px;
		}
	}
}
