.tm-service {
	
	.post-read-more {
		font-size: 15px;
		margin-top: 20px;
		
		.btn-text {
			font-weight: 600;
			margin-right: 3px;
		}
		
		.btn-icon {
			position: relative;
			top: 1px;
		}
	}
	
	.post-excerpt {
		p:last-child {
			margin-bottom: 0;
		}
	}
	
	// Same style for grid 01 + carousel slider
	&.style-01 {
		
		.post-item-wrap {
			
			&:hover {
				.post-info {
					transform: translateY(-10px);
					box-shadow: 0 20px 40px rgba(0, 0, 0, .09);
				}
				
				.post-overlay {
					visibility: visible;
					opacity: .7;
				}
				
				.post-view-detail {
					visibility: visible;
					opacity: 1;
				}
			}
		}
		
		.post-thumbnail-wrap {
			position: relative;
			
			img {
				width: 100%;
				border-radius: 5px;
			}
		}
		
		.post-overlay {
			@extend %transit2;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 5px;
			background: #000000;
			opacity: 0;
			visibility: hidden;
		}
		
		.post-view-detail {
			@extend %transit2;
			position: absolute;
			top: 50%;
			left: 50%;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			background: rgba(255, 255, 255, .3);
			transform: translate(-50%, -50%);
			font-size: 20px;
			color: #ffffff;
			text-align: center;
			line-height: 60px;
			opacity: 0;
			visibility: hidden;
		}
		
		.post-info {
			@extend %transit2;
			text-align: center;
			padding: 41px 20px 49px;
			border-radius: 5px;
			background: #ffffff;
			position: relative;
			z-index: 999;
			margin: -30px 20px 0;
		}
		
		.post-title {
			font-size: 20px;
			margin-bottom: 13px;
			line-height: 1.4;
		}
	}
	
	&.style-carousel {
		margin-bottom: -40px;
		
		.post-item-wrap {
			padding: 0 0 40px;
		}
	}
	
	&.style-carousel_02 {
		.post-info {
			box-shadow: none !important;
		}
		
		.post-item-wrap {
			&:hover {
				.post-title {
					a {
						color: #ffffff !important;
					}
				}
				
				.post-excerpt {
					color: rgba(255, 255, 255, .74);
				}
				
				.post-read-more {
					.btn-text,
					.btn-icon {
						color: #ffffff;
					}
				}
			}
		}
		
		.post-title {
			a {
				transition: none;
			}
		}
	}
	
	&.style-02 {
		
		.post-item-wrap {
			position: relative;
			
			&:hover {
				.post-overlay {
					visibility: visible;
					opacity: .7;
				}
				
				.post-view-detail {
					visibility: visible;
					opacity: 1;
				}
			}
		}
		
		.post-thumbnail-wrap {
			position: relative;
			margin-bottom: 31px;
			
			img {
				border-radius: 5px;
			}
		}
		
		.post-overlay {
			@extend %transit2;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 5px;
			background: #000000;
			opacity: 0;
			visibility: hidden;
		}
		
		.post-view-detail {
			@extend %transit2;
			position: absolute;
			top: 50%;
			left: 50%;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			background: rgba(255, 255, 255, .3);
			transform: translate(-50%, -50%);
			font-size: 20px;
			color: #ffffff;
			text-align: center;
			line-height: 60px;
			opacity: 0;
			visibility: hidden;
		}
		
		.post-title {
			font-size: 20px;
			margin-bottom: 13px;
			line-height: 1.4;
		}
		
		.post-info {
			padding-bottom: 16px;
		}
	}
	
	&.style-grid_classic_03 {
		.post-item-wrap {
			@extend %transit2;
			position: relative;
			border: 1px solid #eeeeee;
			border-radius: 5px;
			background: #ffffff;
			height: 100%;
			
			&:hover {
				transform: translateY(-10px);
				border-color: transparent;
				box-shadow: 0 20px 40px rgba(0, 0, 0, .09);
				
				.post-overlay {
					visibility: visible;
					opacity: .7;
				}
				
				.post-view-detail {
					visibility: visible;
					opacity: 1;
				}
			}
		}
		
		.post-thumbnail-wrap {
			position: relative;
			margin: -1px -1px 0;
			
			img {
				border-radius: 5px 5px 0 0;
			}
		}
		
		.post-overlay {
			@extend %transit2;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 5px 5px 0 0;
			background: #000000;
			opacity: 0;
			visibility: hidden;
		}
		
		.post-view-detail {
			@extend %transit2;
			position: absolute;
			top: 50%;
			left: 50%;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			background: rgba(255, 255, 255, .3);
			transform: translate(-50%, -50%);
			font-size: 20px;
			color: #ffffff;
			text-align: center;
			line-height: 60px;
			opacity: 0;
			visibility: hidden;
		}
		
		.post-title {
			font-size: 18px;
			margin-bottom: 13px;
			line-height: 1.4;
		}
		
		.post-info {
			padding: 27px 30px 36px;
		}
		
		.post-read-more {
			margin-top: 32px;
		}
	}
}
