.tm-timeline {
	ul {
		margin: 0;
		padding: 0;
	}
	
	&.style-01 {
		.grid-item {
			+ .grid-item {
				padding-top: 120px;
			}
			
			&:not([style*='left: 0']) {
				.content-wrap {
					float: right;
				}
				
				.dot {
					&:before {
						left: -20px;
					}
					
					&:after {
						left: -12px;
					}
				}
				
				.dashed {
					&:after {
						right: auto;
						left: 0;
					}
				}
				
				.year {
					left: -44px;
				}
			}
		}
		
		.item-wrapper {
			@extend %clearfix;
			position: relative;
			padding: 0 30px;
		}
		
		.line {
			position: absolute;
			left: 50%;
			margin-left: -1px;
			height: 100%;
			border-left: 2px dashed rgba(151, 151, 151, .88);
		}
		
		.dot {
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				right: -20px;
				width: 40px;
				height: 40px;
				opacity: .3;
				border-radius: 50%;
				transform: translateY(-50%);
			}
			
			&:after {
				content: '';
				width: 24px;
				height: 24px;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				right: -12px;
				transform: translateY(-50%);
			}
		}
		
		.dashed {
			&:after {
				content: '';
				width: calc(100% - 30px);
				border-top: 2px dashed rgba(151, 151, 151, .88);
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
		}
		
		.content-wrap {
			position: relative;
			border-radius: 5px;
			overflow: hidden;
			width: 400px;
			max-width: 100%;
		}
		
		.content-header {
			display: flex;
			align-items: center;
		}
		
		.content-body {
			background: #ffffff;
			padding: 20px;
		}
		
		.month {
			padding: 26px 30px;
			font-size: 30px;
			font-weight: bold;
			color: rgba(17, 17, 17, .3);
			border-right: 1px solid rgba(17, 17, 17, .15);
		}
		
		.year {
			width: 90px;
			height: 90px;
			line-height: 90px;
			border: 2px solid #ffb805;
			color: #ffb805;
			border-radius: 50%;
			font-size: 20px;
			font-weight: 700;
			text-align: center;
			z-index: 99;
			right: -44px;
			position: absolute;
			background: #042367;
		}
		
		.heading {
			font-weight: 700;
			font-size: 20px;
			padding: 10px 20px;
			margin-bottom: 0;
			color: #111111;
		}
		
		.photo {
			margin-bottom: 20px;
			
			img {
				width: 100%;
				border-radius: 5px;
			}
		}
		
		.text {
			margin-bottom: 25px;
		}
		
		&.skin-light {
			.month {
				color: rgba(255, 255, 255, .39);
				border-right: 1px solid rgba(216, 216, 216, .25);
			}
			
			.heading {
				color: #ffffff;
			}
		}
	}
	
	&.style-02 {
		.grid-item {
			+ .grid-item {
				padding-top: 120px;
			}
			
			&:not([style*='left: 0']) {
				.content-wrap {
					float: right;
				}
				
				.dot {
					&:before {
						left: -20px;
					}
					
					&:after {
						left: -12px;
					}
				}
				
				.dashed {
					&:after {
						right: auto;
						left: 0;
					}
				}
				
				.year {
					left: -44px;
				}
			}
		}
		
		.item-wrapper {
			@extend %clearfix;
			position: relative;
			padding: 0 30px;
		}
		
		.line {
			position: absolute;
			left: 50%;
			margin-left: -1px;
			height: 100%;
			border-left: 2px dashed rgba(255, 255, 255, .5);
		}
		
		.dot {
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				right: -20px;
				width: 40px;
				height: 40px;
				opacity: .3;
				border-radius: 50%;
				transform: translateY(-50%);
			}
			
			&:after {
				content: '';
				width: 24px;
				height: 24px;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				right: -12px;
				transform: translateY(-50%);
			}
		}
		
		.dashed {
			&:after {
				content: '';
				width: 170px;
				border-top: 2px dashed rgba(255, 255, 255, .5);
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
		}
		
		.content-wrap {
			position: relative;
			background: #ffffff;
			border-radius: 5px;
			overflow: hidden;
			box-shadow: 0 20px 40px rgba(0, 0, 0, .41);
		}
		
		.content-body {
			padding: 20px;
		}
		
		.content-wrap {
			width: 400px;
			max-width: 100%;
		}
		
		.year {
			width: 90px;
			height: 90px;
			line-height: 90px;
			border: 2px solid #ffb805;
			color: #ffb805;
			border-radius: 50%;
			font-size: 20px;
			font-weight: 700;
			text-align: center;
			z-index: 99;
			right: -44px;
			position: absolute;
			background: #042367;
		}
		
		.heading {
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 19px;
			color: #111111;
		}
		
		.photo {
			margin-bottom: 27px;
			
			img {
				width: 100%;
				border-radius: 5px;
			}
		}
		
		.date {
			text-transform: uppercase;
			color: #999999;
			font-size: 13px;
			font-weight: 600;
			margin-bottom: 10px;
		}
		
		.text {
			margin-bottom: 31px;
			color: #777777;
		}
	}
	
	&.style-03 {
		.dot {
			&:before {
				content: '';
				position: absolute;
				top: 60px;
				right: -10px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: #ffffff;
			}
		}
		
		.item {
			position: relative;
			margin: 0 auto;
			width: 1px;
			list-style-type: none;
			padding-top: 30px;
			
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: '';
				border-left: 2px solid #ffffff;
			}
			
			&:nth-child(odd) {
				.content-wrap {
					left: -580px;
				}
			}
			
			&:nth-child(even) {
				.content-wrap {
					left: 80px;
					
					&:after {
						right: auto;
						left: -14px;
						border-color: #ffffff transparent transparent #ffffff;
					}
				}
				
				.date-wrap {
					left: -580px;
					text-align: right;
				}
			}
			
			&:last-child {
				padding-bottom: 7px;
			}
		}
		
		.content-wrap {
			position: relative;
			background: #ffffff;
			border-radius: 5px;
			color: #111111;
			
			&:after {
				position: absolute;
				top: 40px;
				right: -5px;
				content: '';
				width: 0;
				height: 0;
				border: 10px solid transparent;
				border-color: transparent #ffffff #ffffff transparent;
				transform-origin: 0 0;
				transform: rotate(-45deg);
			}
		}
		
		.content-body {
			padding: 25px 27px 29px;
			
			ul {
				li {
					list-style-type: none;
					position: relative;
					padding-left: 18px;
					
					&:before {
						content: '';
						position: absolute;
						top: 8px;
						left: 0;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background: #bebebe;
					}
					
					+ li {
						margin-top: 10px;
					}
				}
			}
		}
		
		.content-wrap,
		.date-wrap {
			width: 500px;
		}
		
		.date-wrap {
			position: absolute;
			top: 40px;
			left: 80px;
			color: rgba(17, 17, 17, .45);
		}
		
		.month {
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 1px;
		}
		
		.year {
			font-size: 60px;
			font-weight: 700;
			line-height: 1.2;
		}
		
		.heading {
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 18px;
		}
		
		.photo {
			margin-bottom: 27px;
			
			img {
				width: 100%;
				border-radius: 5px;
			}
		}
	}
	
	&.style-04 {
		position: relative;
		
		.swiper-slide {
			width: 370px;
			
			&:nth-child(even) {
				.content-wrap {
					top: 50%;
					bottom: auto;
					transform: translateY(85px);
					
					&:after {
						top: 0;
						border-color: #ffffff #ffffff transparent transparent;
					}
				}
				
				.date-wrap {
					bottom: 50%;
					top: auto;
					transform: translateY(-45px);
				}
			}
		}
		
		.item {
			position: relative;
		}
		
		.center-line {
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translateY(-1px);
			border-top: 2px dashed rgba(255, 255, 255, .4);
		}
		
		.content-wrap {
			position: absolute;
			bottom: 50%;
			left: 0;
			right: 0;
			background: #ffffff;
			border-radius: 5px;
			padding: 38px 35px 50px;
			transform: translateY(-85px);
			
			&:after {
				position: absolute;
				top: 100%;
				left: 50%;
				content: '';
				width: 0;
				height: 0;
				margin-left: -6px;
				border: 12px solid transparent;
				border-color: transparent transparent #ffffff #ffffff;
				transform-origin: 0 0;
				transform: translateX(-50%) rotate(-45deg);
			}
		}
		
		.dot {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 16px;
			height: 16px;
			background: #ffffff;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			box-shadow: 0 0 0 8px rgba(255, 255, 255, .18), 0 0 0 18px rgba(255, 255, 255, .18);
		}
		
		.content-header {
			display: flex;
			align-items: center;
			margin-bottom: 15px;
		}
		
		.icon {
			font-size: 42px;
			margin-right: 17px;
			line-height: 1;
			flex-shrink: 0;
		}
		
		.heading-wrap {
			flex-grow: 1;
		}
		
		.heading {
			font-size: 20px;
			margin-bottom: 0;
			color: #111111;
		}
		
		.date-wrap {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			text-align: center;
			transform: translateY(45px);
		}
		
		.month {
			font-size: 16px;
			letter-spacing: 1.78px;
			text-transform: uppercase;
			margin-bottom: 8px;
			color: rgba(17, 17, 17, .45);
		}
		
		.year {
			font-size: 80px;
			margin-bottom: 0;
			color: rgba(17, 17, 17, .45);
		}
	}
	
	&.style-05 {
		position: relative;
		text-align: center;
		
		.swiper-slide {
			width: 195px;
			
			&:nth-child(even) {
				.content-wrap {
					top: 50%;
					bottom: auto;
					transform: translateY(33px);
					
					&:after {
						top: 0;
						border-color: #ffffff #ffffff transparent transparent;
					}
				}
			}
		}
		
		.item {
			position: relative;
		}
		
		.center-line {
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translateY(-1px);
			height: 2px;
		}
		
		.content-wrap {
			position: absolute;
			bottom: 50%;
			left: 0;
			right: 0;
			transform: translateY(-33px);
		}
		
		.dot {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 14px;
			height: 14px;
			background: #ffffff;
			border-radius: 50%;
			transform: translate(-50%, -50%);
		}
		
		.icon {
			font-size: 30px;
			width: 70px;
			height: 70px;
			line-height: 64px;
			text-align: center;
			border-radius: 50%;
			margin: 0 auto 22px;
			
			border: 3px solid transparent;
			
			background-image: linear-gradient(#150140, #150140), radial-gradient(circle at top left, #361eb0 20%  , #05d8d8 80%);
			background-origin: border-box;
			background-clip: content-box, border-box;
		}
		
		.heading {
			font-size: 24px;
			margin-bottom: 20px;
		}
		
		.date {
			font-size: 20px;
			font-weight: 700;
			line-height: 1.5;
			margin-bottom: 7px;
		}
		
		&.skin-light {
			.heading {
				color: #ffffff;
			}
			
			.icon {
				color: #ffffff;
			}
			
			.date {
				color: #ffffff;
			}
		}
	}
}

.tm-timeline {
	.tm-animation-queue {
		.item {
			.content-wrap {
				opacity: 0;
			}
			
			&.animate {
				.content-wrap {
					opacity: 1;
					animation: moveHorizontal 0.65s ease forwards;
				}
				
				&:nth-child(even) {
					.content-wrap {
						transform: translateX(100px);
					}
				}
				
				&:nth-child(odd) {
					.content-wrap {
						transform: translateX(-100px);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1199px) {
	.tm-timeline {
		&.style-01,
		&.style-02 {
			.grid-item {
				&:not([style*='left: 0']) {
					.item-wrapper {
						padding: 0 0 0 30px;
					}
				}
			}
			.item-wrapper {
				padding: 0 30px 0 0;
			}
		}
		
		&.style-03 {
			.content-wrap,
			.date-wrap {
				width: 360px;
			}
			
			.year {
				font-size: 50px;
			}
			
			.item {
				&:nth-child(even) {
					.content-wrap {
						left: 50px;
					}
					
					.date-wrap {
						left: -410px;
					}
				}
				
				&:nth-child(odd) {
					.content-wrap {
						left: -410px;
					}
					
					.date-wrap {
						left: 50px;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	.tm-timeline {
		&.style-01 {
			.month {
				padding: 15px 10px;
				font-size: 24px;
			}
		}
		
		&.style-01,
		&.style-02 {
			.year {
				width: 50px;
				height: 50px;
				line-height: 50px;
				font-size: 16px;
				right: -25px;
			}
			
			.grid-item {
				&:not([style*='left: 0']) {
					.year {
						left: -25px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.tm-timeline {
		&.style-03 {
			.date-wrap,
			.content-wrap {
				width: 250px;
			}
			
			.year {
				font-size: 40px;
			}
			
			.item {
				&:nth-child(even) {
					.content-wrap {
						left: 36px;
					}
					
					.date-wrap {
						left: -284px;
					}
				}
				
				&:nth-child(odd) {
					.content-wrap {
						left: -284px;
					}
					
					.date-wrap {
						left: 36px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 640px) {
	.tm-timeline {
		&.style-01,
		&.style-02 {
			.grid-item {
				+ .grid-item {
					padding-top: 40px;
				}
			}
			
			.item-wrapper {
				padding: 0 0 0 70px;
			}
			
			.line {
				left: 25px;
			}
			
			.year {
				right: auto;
				left: 0;
			}
			
			.dot {
				&:before {
					left: 5px;
					right: auto;
				}
				
				&:after {
					left: 13px;
					right: auto;
				}
			}
			
			.dashed {
				&:after {
					left: 25px !important;
					right: auto;
				}
			}
			
			.content-wrap {
				float: right;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.tm-timeline {
		&.style-03 {
			.date-wrap {
				position: relative;
				text-align: left !important;
				top: 10px;
			}
			
			.date-wrap,
			.content-wrap {
				left: 36px !important;
				width: calc(100vw - 100px);
			}
			
			.item {
				margin-left: 20px;
				padding-bottom: 40px;
				
				.content-wrap {
					&:after {
						right: auto;
						left: -14px;
						border-color: #ffffff transparent transparent #ffffff;
					}
				}
				
				&:nth-child(odd) {
					.content-wrap {
						left: -284px;
					}
				}
				
				&:nth-child(odd) .content-wrap {
					left: 34px;
					text-align: left;
				}
			}
			
			.tm-animation-queue .item.animate:nth-child(odd) .content-wrap {
				transform: translateX(100px);
			}
		}
	}
}
