.page-title-bar {
	position: relative;
	
	.heading {
		margin-bottom: 0;
	}
}

.page-title-bar-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.page-title-bar-inner {
	border-bottom-style: solid;
}

.insight_core_breadcrumb {
	margin: 0;
	padding: 0;
	
	li {
		display: inline-block;
		
		+ li {
			position: relative;
			padding-left: 25px;
			
			&:before {
				font-family: Ionicons;
				content: '\f363';
				font-size: 14px;
				position: absolute;
				left: 10px;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
	}
}
