.tm-swiper {
	position: relative;
	z-index: 1;
	
	&:hover {
		.swiper-nav-button {
			@extend %transit;
			opacity: 1;
			visibility: visible;
		}
	}
	
	.swiper-container {
		width: 100%;
	}
	
	.swiper-slide {
		box-sizing: border-box;
	}
	
	&.auto-slide-wide {
		.swiper-slide {
			width: auto;
			img {
				width: auto;
			}
		}
	}
	
	&.has-pagination {
		margin-bottom: 40px;
	}
	
	&.auto-height {
		> .swiper-container {
			> .swiper-wrapper {
				height: auto !important;
			}
		}
	}
	
	&.equal-height {
		> .swiper-container {
			> .swiper-wrapper {
				display: flex;
				align-items: stretch;
				> .swiper-slide {
					display: flex;
					height: auto;
				}
			}
		}
	}
	
	&.v-center {
		> .swiper-container {
			> .swiper-wrapper {
				> .swiper-slide {
					display: flex;
					align-self: center;
				}
			}
		}
	}
	
	&.h-center {
		> .swiper-container {
			> .swiper-wrapper {
				> .swiper-slide {
					display: flex;
					justify-content: center;
				}
			}
		}
	}
	
	&.c-bottom {
		> .swiper-container {
			> .swiper-wrapper {
				align-items: flex-end;
			}
		}
	}
	
	&.equal-height.v-center {
		> .swiper-container {
			> .swiper-wrapper {
				> .swiper-slide {
					align-self: auto;
					> div {
						align-self: center;
					}
				}
			}
		}
	}
	
	.swiper-container-fade {
		.swiper-slide {
			opacity: 0 !important;
			
			&.swiper-slide-active {
				opacity: 1 !important;
			}
		}
	}
	
	.swiper-pagination {
		position: absolute;
		bottom: -40px;
		left: 0;
		width: 100%;
		text-align: center;
		line-height: 1;
		user-select: none;
		outline: none;
	}
	
	.swiper-pagination-bullet {
		box-sizing: border-box;
		margin: 0 3px;
		width: 16px;
		height: 16px;
		border: 0;
		background: transparent;
		vertical-align: middle;
		opacity: 1;
		position: relative;
		
		&:hover,
		&.swiper-pagination-bullet-active {
			&:before {
				background: #222222;
			}
		}
		
		&.swiper-pagination-bullet-active {
			cursor: default;
		}
		
		&:before {
			transition: all .7s;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 100%;
			width: 12px;
			height: 12px;
			transform: translate(-50%, -50%);
			background: #d8d8d8;
			z-index: 1;
		}
	}
	
	.swiper-nav-button {
		transition: all .3s cubic-bezier(.645, .045, .355, 1), visibility .3s linear 2s, opacity .3s linear 2s;
		background-image: none;
		text-align: center;
		user-select: none;
		outline: none;
		width: 50px;
		height: 50px;
		font-size: 16px;
		color: #111111;
		border: 1px solid #dddddd;
		border-radius: 50%;
		box-shadow: 0 0 5px rgba(0, 0, 0, .01);
		opacity: 0;
		visibility: hidden;
		
		&.swiper-button-disabled {
			display: none;
		}
		
		&:hover {
			color: #ffffff;
		}
		
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			line-height: 1;
			display: inline-block;
			font: normal normal normal 14px/1 'Ionicons';
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	
	.swiper-button-prev {
		left: 20px;
		i {
			&:before {
				content: '\f3cf';
			}
		}
	}
	
	.swiper-button-next {
		right: 20px;
		i {
			&:before {
				content: '\f3d1';
			}
		}
	}
	
	&.nav-style-3 {
		.swiper-nav-button {
			color: #ffffff;
			
			&:hover {
				background: #ffffff;
				border: #ffffff;
				color: #111111;
			}
		}
	}
	
	&.pagination-style-2 {
		
		margin-bottom: 0 !important;
		
		.swiper-pagination {
			width: auto;
			top: 50%;
			right: 50px;
			bottom: auto;
			left: auto;
			transform: translate(0, -50%);
		}
		
		.swiper-pagination-bullet {
			display: block;
			margin: 0;
			+ .swiper-pagination-bullet {
				margin-top: 15px;
			}
		}
	}
	
	&.pagination-style-3 {
		
		margin-bottom: 0 !important;
		
		.swiper-pagination {
			width: auto;
			top: 50%;
			right: 50px;
			bottom: auto;
			left: auto;
			transform: translate(0, -50%);
		}
		
		.swiper-pagination-bullet {
			display: block;
			margin: 0;
			+ .swiper-pagination-bullet {
				margin-top: 6px;
			}
		}
	}
	
	&.pagination-style-4 {
		
		margin-bottom: 0 !important;
		
		.swiper-pagination {
			width: auto;
			top: 50%;
			right: -60px;
			bottom: auto;
			left: auto;
			transform: translate(0, -50%);
		}
		
		.swiper-pagination-bullet {
			display: block;
			margin: 0;
			
			+ .swiper-pagination-bullet {
				margin-top: 6px;
			}
			
			&:hover,
			&.swiper-pagination-bullet-active {
				&:before {
					background-color: #222222;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.tm-swiper {
		&.pagination-style-3 {
			.swiper-pagination {
				right: -50px;
			}
		}
	}
}

@media (min-width: 1400px) {
	.tm-swiper {
		&.nav-style-2,
		&.nav-style-3 {
			.swiper-button-prev {
				left: -100px;
			}
			
			.swiper-button-next {
				right: -100px;
			}
		}
		
		&.pagination-style-2 {
			.swiper-pagination {
				right: 100px;
			}
		}
	}
}

@media (min-width: 1600px) {
	.tm-swiper {
		&.pagination-style-3 {
			.swiper-pagination {
				right: -125px;
			}
		}
	}
}
