.page-coin-ticker-bar {
	
	border: 0 solid transparent;
	
	.tickercontainer {
		background: inherit;
		height: 100% !important;
		margin-bottom: 0;
		
		/*ul {
			transition-timing-function: unset !important;
			transition-duration: 0s !important;
		}*/
		
		li {
			line-height: 50px !important;
		}
	}
	
	.ccpw_icon {
		img {
			margin-top: 12px;
		}
	}
	
	.mask {
		> ul {
			background: inherit !important;
		}
	}
}
