.notification-bar-01 {
	display: flex;
	align-items: center;
	
	> .inner {
		width: 100%;
	}
	
	.notification-links {
		text-align: right;
		margin: 0 -10px;
		
		a {
			padding: 0 10px;
			text-decoration: underline;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	.close-notification-bar {
		@extend %transit;
		position: absolute;
		top: 50%;
		right: -30px;
		font-size: 20px;
		transform: translate(0, -50%);
		cursor: pointer;
	}
}

.page-notification-bar {
	@extend %transit;
}

.page-notification-hidden {
	.page-notification-bar {
		min-height: 0;
		height: 0;
	}
}

@include media-breakpoint-down(lg) {
	.notification-bar-01 {
		.close-notification-bar {
			right: 0;
		}
	}
}

@include media-breakpoint-down(sm) {
	.notification-bar-01 {
		.inner {
			padding: 10px 0;
		}
		
		.notification-bar-left {
			margin-bottom: 10px;
		}
		
		.notification-bar-text {
			text-align: center;
		}
		
		.notification-links {
			text-align: center;
		}
	}
}
