.widget_search,
.widget_product_search {
	form {
		position: relative;
		border-radius: 5px;
		overflow: hidden;
	}
	
	.search-field {
		width: 100%;
		padding-right: 70px;
	}
	
	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		border: 0;
		border-radius: 0;
		width: 55px;
		text-align: center;
		
		&:hover {
			color: #ffffff;
		}
	}
	
	.search-btn-text {
		display: none;
	}
	
	.search-btn-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		line-height: 1;
		font-size: 20px;
	}
}
