.tagcloud {
	@extend %clearfix;
	margin: -5px;
	a {
		display: block;
		float: left;
		font-size: 13px !important;
		font-weight: 500;
		background: #f7f7f7;
		border: 1px solid #eeeeee;
		border-radius: 20px;
		padding: 7px 21px;
		margin: 5px;
		color: inherit;
		
		&:hover {
			border-color: transparent;
		}
	}
}
