.widget {
	+ .widget {
		margin: 68px 0 0;
	}
}

.widget-title,
.widgettitle {
	font-size: 24px;
	margin-bottom: 43px;
}

.page-sidebar {
	.page-sidebar-inner {
		height: 100%;
	}
}

.wpb_widgetised_column {
	&.left {
		padding-right: 30px;
		
		.wpb_wrapper {
			padding-right: 30px;
			
			&:after {
				right: 0;
			}
		}
	}
	&.right {
		padding-left: 30px;
		
		.wpb_wrapper {
			padding-left: 30px;
			
			&:after {
				left: 0;
			}
		}
	}
	.wpb_wrapper {
		position: relative;
		padding-top: 100px;
		max-width: 370px;
		width: 100%;
		
		&:after {
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: -1;
			width: 3000px;
			height: 5000px;
			background-color: #ffffff;
			content: '';
		}
	}
}

@media (max-width: 1199px) {
	.wpb_widgetised_column {
		padding: 0 !important;
		
		.wpb_wrapper {
			padding: 50px 30px;
			background: #ffffff;
			max-width: 100%;
			
			&:after {
				display: none;
			}
		}
	}
}

.page-footer {
	.widget {
		margin-bottom: 50px;
	}
	
	.insight-core-bmw {
		margin-bottom: 50px !important;
	}
	
	.widgettitle {
		line-height: 1.2;
		font-weight: 700;
		font-size: 15px;
		padding-bottom: 13px;
		border-bottom: 1px solid rgba(238, 238, 238, .13);
		margin-bottom: 30px;
	}
	
	.widget_nav_menu,
	.insight-core-bmw {
		li {
			margin-bottom: 0;
			padding: 0;
			border: 0;
		}
	}
	
	.widget_recent_entries,
	.widget_recent_comments,
	.widget_archive,
	.widget_categories,
	.widget_meta,
	.widget_product_categories,
	.widget_rss,
	.widget_pages {
		> ul {
			> li {
				border-bottom: 0;
				padding: 0;
			}
		}
	}
	
	.widget_archive,
	.widget_meta,
	.widget_pages,
	.widget_nav_menu,
	.insight-core-bmw {
		li {
			
			a {
				padding: 4px 0;
			}
		}
	}
}

.widget_recent_entries,
.widget_recent_comments,
.widget_archive,
.widget_categories,
.widget_meta,
.widget_product_categories,
.widget_rss,
.widget_pages,
.widget_nav_menu,
.insight-core-bmw {
	ul {
		margin: 0;
		padding: 0;
	}
	
	li {
		@extend %transit;
		display: block;
		margin: 0;
		padding: 12px 0;
		border-bottom: 1px solid #f3f3f3;
		list-style-type: none;
		
		&:last-child {
			margin-bottom: 0;
		}
		
		a {
			display: block;
		}
	}
}

.widget_archive,
.widget_meta {
	li {
		padding: 0;
		
		a {
			padding: 12px 0;
		}
	}
}

.widget_pages,
.widget_nav_menu,
.insight-core-bmw {
	
	ul {
		ul {
			> li {
				border-top: 1px solid #f3f3f3;
				border-bottom: 0;
				
				> a {
					padding-left: 10px;
				}
				
				ul {
					> li {
						> a {
							padding-left: 20px;
						}
					}
					
					ul {
						> li {
							> a {
								padding-left: 30px;
							}
						}
						
						ul {
							> li {
								> a {
									padding-left: 40px;
								}
							}
						}
					}
				}
			}
		}
	}
	
	li {
		margin: 0;
		padding: 0;
		
		+ li {
			border-top: 0;
		}
	}
	
	a {
		padding: 16px 35px;
		
		&:empty {
			display: none;
		}
	}
	
	.current-menu-item {
		a {
			color: #ffffff;
		}
	}
}

.widget_categories,
.widget_product_categories {
	li {
		position: relative;
		border: 0;
		background: #f7f7f7;
		
		&:before {
			@extend %transit;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 3px;
		}
	}
	
	> ul {
		border: 1px solid #eeeeee;
		border-radius: 5px;
		///overflow: hidden;
		
		> li {
			padding: 0;
			
			> a {
				border-top: 1px solid #eeeeee;
			}
			
			&:first-child {
				border-radius: 5px 5px 0 0;
				
				> a {
					border-top: 0;
				}
			}
			
			&:last-child {
				border-radius: 0 0 5px 5px;
			}
		}
	}
	
	a {
		display: block;
		padding: 16px 30px;
		font-size: 16px;
		font-weight: 500;
		min-height: 60px;
	}
	
	.count {
		float: right;
		font-size: 12px;
		border-radius: 100%;
		line-height: 1;
		color: #ffffff;
		padding: 5px;
		min-width: 22px;
		text-align: center;
		margin-top: 2px;
	}
	
	.children {
		padding: 0 !important;
		
		li {
			padding: 0;
			border-bottom: 0;
			border-top: 1px solid #eeeeee;
		}
		
		a {
			padding-left: 50px;
		}
		
		.children {
			a {
				padding-left: 60px;
			}
		}
	}
}

.widget_recent_comments {
	.comment-author-link {
		position: relative;
		padding-left: 24px;
		
		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			content: '\f11d';
			font-family: Ionicons;
			font-size: 18px;
			line-height: 0;
			transform: translate(0, -50%);
		}
	}
	
	.recentcomments {
		a {
			display: inline !important;
		}
	}
}

.widget_recent_entries {
	
	li {
		+ li {
			margin-top: 40px;
		}
	}
	
	a {
		font-size: 18px;
		font-weight: 600;
		line-height: 1.44;
	}
	
	.post-date {
		position: relative;
		display: block;
		font-size: 15px;
		font-weight: 500;
		padding-left: 25px;
		margin-top: 17px;
		
		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			font-family: Ionicons;
			font-size: 18px;
			content: '\f2d1';
		}
	}
}

@include media-breakpoint-down(md) {
	.page-content {
		.widget {
			+ .widget {
				margin: 50px 0 0;
			}
		}
		
		.widget-title,
		.widgettitle {
			font-size: 24px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.page-sidebar {
		margin-bottom: 50px;
		.page-sidebar-inner {
			.page-sidebar-content {
				&:after {
					display: none;
				}
			}
		}
	}
}
