.single-service {
	
	.post-feature {
		margin-bottom: 77px;
		
		img {
			border-radius: 5px;
		}
	}
}

@include media-breakpoint-up(md) {
	.single-service {
		.page-content {
			padding-top: 125px;
			padding-bottom: 115px;
		}
	}
}
