.page-skin-dark {
	table {
		tr:nth-child(2n) {
			td {
				background: rgba(103, 103, 103, .07);
			}
		}
	}
	
	.widget_recent_entries,
	.widget_recent_comments,
	.widget_archive,
	.widget_categories,
	.widget_meta,
	.widget_product_categories,
	.widget_rss,
	.widget_pages,
	.widget_nav_menu,
	.insight-core-bmw {
		li {
			border-color: rgba(238, 238, 238, .07);
		}
	}
	
	.widget_categories,
	.widget_product_categories {
		
		ul {
			border-color: transparent;
		}
		
		> ul {
			> li {
				> a,
				+ li > a {
					border-color: rgba(238, 238, 238, .07);
				}
			}
		}
		
		.children {
			li {
				border-color: rgba(238, 238, 238, .07);
			}
		}
	}
	
	.entry-author {
		border-color: transparent;
	}
	
	.tagcloud {
		a {
			border-color: transparent;
		}
	}
	
	.comment-list {
		.children,
		> .comment {
			border-color: rgba(238, 238, 238, .07);
		}
	}
	
	&.single-post .entry-header {
		border-color: rgba(216, 216, 216, .1);
	}
	
	.comment-nav-links li .current,
	.page-pagination li .current {
		border-color: transparent;
	}
	
	.tm-blog {
		&.style-list {
			.post-meta {
				border-color: rgba(216, 216, 216, .1);
				
				> div {
					+ div {
						&:before {
							background-color: rgba(216, 216, 216, .2);
						}
					}
				}
			}
		}
	}
}
