.page-template-maintenance {
	.maintenance-page {
		display: flex;
		justify-content: center;
		background: #0b88ee;
		background: linear-gradient(to right, #0b88ee 20%, #2ac3db 100%);
	}
	
	.maintenance-body {
		width: 100%;
		max-width: 1200px;
		display: flex;
		align-items: center;
		z-index: 2;
	}
}

.maintenance-svg {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	line-height: 0;
	
	svg {
		height: 440px;
		width: 100%;
		fill: #ffffff;
	}
}

.left-content,
.right-content {
	width: 50%;
	padding: 15px;
	flex-shrink: 0;
}

.left-content {
	align-self: center;
}

.right-content {
	align-self: flex-end;
	margin-bottom: 110px;
	text-align: right;
}

.maintenance-title {
	font-size: 56px;
	margin-bottom: 23px;
	color: #ffffff;
}

.maintenance-text {
	color: #ffffff;
	font-size: 16px;
	line-height: 1.75;
	margin-bottom: 79px;
}

.maintenance-progress-wrap {
	width: 100%;
	margin-bottom: 52px;
}

.maintenance-progress-labels {
	@extend %clearfix;
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 13px;
	
	.text {
		float: left;
	}
	
	.number {
		float: right;
	}
}

.maintenance-progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #ffffff;
	border-radius: 20px;
	&:before {
		content: '';
		width: 20px;
		height: 20px;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		right: -1px;
		margin-top: -10px;
		background: inherit;
	}
}

.maintenance-progress-bar {
	width: 100%;
	position: relative;
	height: 6px;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 20px;
}

@media (min-width: 1400px) {
	.right-content {
		margin-left: 90px;
	}
}

@include media-breakpoint-down(md) {
	.maintenance-title {
		font-size: 46px;
	}
}

@include media-breakpoint-down(sm) {
	.right-content {
		align-self: auto;
		margin-bottom: 0;
	}
	
	.maintenance-title {
		font-size: 36px;
	}
	
	.maintenance-svg {
		svg {
			height: 200px;
		}
	}
}

@include media-breakpoint-down(xs) {
	.left-content {
		width: 100%;
	}
	
	.right-content {
		display: none;
	}
}
