.page-template-coming-soon-01 {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(-135deg, #034dee 0%, #540095 100%);
	
	.content-wrapper {
		position: relative;
	}
	
	.page-wavify-wrap {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 540px;
	}
	
	.wavify-item {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
	
	.maintenance-page {
		text-align: center;
		padding: 50px 0;
	}
	
	.cs-title {
		font-size: 50px;
		color: #ffffff;
		margin-bottom: 12px;
	}
	
	.cs-text {
		color: rgba(255, 255, 255, .5);
		max-width: 740px;
		margin: 0 auto 63px;
	}
	
	.time_circles {
		position: relative;
		width: 100%;
		height: 100%;
	}
	
	.time_circles > div {
		position: absolute;
		text-align: center;
	}
	
	.time_circles > div > h4 {
		font-size: 15px;
		color: #ffffff;
		line-height: 1;
		margin-top: 5px;
	}
	
	.time_circles > div > span {
		display: block;
		width: 100%;
		line-height: 1;
		font-size: 50px;
		font-weight: 600;
		color: #ffffff;
	}
	
	.cs-countdown {
		max-width: 800px;
		margin: 0 auto 15px;
		
		.countdown-wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			> div {
				padding: 0 43px;
			}
		}
		
		.number {
			color: #ffffff;
			display: block;
			font-size: 100px;
			line-height: 1;
			font-weight: 700;
			text-shadow: 7px 2px 0 rgba(255, 255, 255, .2);
			margin-bottom: 15px;
		}
		
		.text {
			color: rgba(255, 255, 255, .7);
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 3.43px;
			text-transform: uppercase;
		}
	}
	
	.cs-mailchimp-title {
		margin-bottom: 35px;
	}
	
	#maintenance-wrap .mc4wp-form {
		position: relative;
		max-width: 430px;
		margin: 0 auto;
		
		.mc4wp-form-fields {
			display: flex;
			
			> div {
				&:first-child {
					flex-grow: 1;
				}
				
				+ div {
					flex-shrink: 0;
				}
			}
		}
		
		input[type='email'] {
			background: #ffffff;
			height: 50px;
			border: 0;
		}
		
		.form-submit {
			height: 50px;
			margin-left: 10px;
		}
	}
}

@include media-breakpoint-down(md) {
	.page-template-coming-soon-01 {
		.cs-title {
			font-size: 30px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.page-template-coming-soon-01 {
		#maintenance-wrap .mc4wp-form {
			.mc4wp-form-fields {
				display: block;
			}
			
			.form-submit {
				margin: 0 auto;
			}
		}
	}
}
