.page-top-bar {
	z-index: 99999;
	border: 0 solid transparent;
	ul {
		z-index: 9999;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	
	a {
		display: block;
	}
	
	.menu {
		li {
			position: relative;
		}
		> li {
			display: inline-block;
			margin-bottom: 0;
			> a {
				padding: 5px;
			}
		}
		
		.menu-item-has-children {
			&:hover {
				> .sub-menu {
					display: block;
				}
			}
		}
		
		.sub-menu {
			position: absolute;
			top: 100%;
			left: 0;
			display: none;
			min-width: 250px;
			width: 100%;
			background-color: #ffffff;
			box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
			a {
				padding: 10px 15px;
				+ a {
					border-top: 1px solid #eeeeee;
				}
			}
			
			.sub-menu {
				top: 0;
				left: 100%;
			}
		}
	}
	
	.switcher-language-wrapper {
		height: 50px;
	}
}

.top-bar-wrap {
	display: flex;
	align-items: center;
	
	&.top-bar-right {
		justify-content: flex-end;
	}
}

.top-bar-info {
	
	.info-item {
		display: inline-block;
		line-height: 1;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
		
		a {
			line-height: 1;
		}
	}
	
	.info-icon {
		font-size: 18px;
		margin-right: 6px;
		vertical-align: middle;
	}
	
	.info-text {
		vertical-align: middle;
	}
}

.top-bar-office-wrapper {
	@extend %clearfix;
	
	display: flex;
	align-items: stretch;
	
	ul {
		margin: 0;
		padding: 0;
		
		li {
			list-style-type: none;
		}
	}
	
	.office-switcher {
		flex-shrink: 0;
		position: relative;
		text-align: left;
		margin-left: 20px;
		
		&:hover {
			.office-list {
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	
	.office-list {
		@extend %transit2;
		z-index: 99999;
		position: absolute;
		top: 100%;
		left: 0;
		background: #ffffff;
		box-shadow: 0 0 5px rgba(0, 0, 0, .09);
		padding: 12px 0;
		margin: 0;
		min-width: 100%;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		
		a {
			display: block;
			padding: 10px 20px;
		}
	}
	
	.active {
		position: relative;
		cursor: pointer;
		padding: 0 40px 0 24px;
		min-width: 180px;
		height: 50px;
		line-height: 50px;
		color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		text-decoration: none !important;
		
		&:after {
			font-family: Ionicons;
			font-size: 15px;
			content: '\f35f';
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	
	.offices {
		flex-grow: 1;
	}
	
	.office {
		display: none;
		height: 100%;
		
		li {
			display: inline-block;
			height: 100%;
		}
		
		.office-content-wrap {
			display: flex;
			align-items: center;
			border-left: 1px solid #cccccc;
			height: 100%;
			padding: 0 30px;
		}
		
		i {
			font-size: 18px;
			margin-right: 10px;
		}
	}
}
