.header-03 {
	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
	
	.header-right {
		flex-shrink: 0;
		justify-self: flex-end;
	}
	
	.branding__logo {
		display: inline-block;
	}
	
	.page-navigation {
		flex-grow: 1;
	}
	
	.desktop-menu & {
		.header-left {
			position: absolute;
			top: 0;
			bottom: 0;
			border-right: 1px solid transparent;
			padding: 0 58px 0 44px;
		}
		
		.branding {
			display: table;
			height: 100%;
		}
		
		.branding__logo {
			display: table-cell;
			vertical-align: middle;
		}
		
		.header-right {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			height: 100%;
			border-left: 1px solid transparent;
			padding: 0 60px;
		}
		
		.menu--primary {
			position: static;
			text-align: center;
		}
	}
	
	.mobile-menu & {
		.header-left {
			flex-grow: 1;
		}
	}
	
	.js-wpml-ls-item-toggle .wpml-ls-native {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: .93px;
	}
}
