.header-05 {
	.header-wrap {
		position: relative;
		display: flex;
		align-items: center;
	}
	
	.desktop-menu & {
		.branding,
		.header-right {
			flex: 1;
		}
		
		.page-navigation {
			flex-grow: 1;
		}
		
		.header-right {
			justify-content: flex-end;
		}
		
		.menu--primary {
			position: static;
			text-align: center;
		}
	}
	
	.mobile-menu & {
		.branding {
			flex-grow: 1;
		}
		
		.header-right {
			flex-shrink: 0;
		}
	}
	
	.header-button {
		.tm-button {
			height: 50px !important;
			line-height: 46px !important;
			border-width: 2px !important;
			min-width: 130px;
		}
	}
}

@include media-breakpoint-up(xl) {
	.header-05 {
		.desktop-menu & {
			.container-fluid {
				padding-left: 50px;
				padding-right: 50px;
			}
		}
	}
}

@media (min-width: 1420px) {
	.header-05 {
		.desktop-menu & {
			.container-fluid {
				padding-left: 100px;
				padding-right: 100px;
			}
		}
	}
}
